<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.warehouse.inventory.mapper.InventoryflowMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.warehouse.inventory.entity.InventoryflowEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="materCode" jdbcType="VARCHAR" column="f_mater_code"/>
		<result property="materName" jdbcType="VARCHAR" column="f_mater_name"/>
		<result property="materVersion" jdbcType="VARCHAR" column="f_mater_version"/>
		<result property="materCigbrand" jdbcType="VARCHAR" column="f_mater_cigbrand"/>
		<result property="type" jdbcType="INTEGER" column="f_type"/>
		<result property="batchNo" jdbcType="VARCHAR" column="f_batch_no"/>
		<result property="quality" jdbcType="DECIMAL" column="f_quality"/>
		<result property="trayCode" jdbcType="VARCHAR" column="f_tray_code"/>
		<result property="outUnit" jdbcType="VARCHAR" column="f_out_unit"/>
		<result property="outUnitCode" jdbcType="VARCHAR" column="f_out_unit_code"/>
		<result property="entryUnit" jdbcType="VARCHAR" column="f_entry_unit"/>
		<result property="entryUnitCode" jdbcType="VARCHAR" column="f_entry_unit_code"/>
		<result property="entryOrder" jdbcType="VARCHAR" column="f_entry_order"/>
		<result property="outOrder" jdbcType="VARCHAR" column="f_out_order"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPerson" jdbcType="VARCHAR" column="f_created_person"/>
		<result property="updatedDate" jdbcType="TIMESTAMP" column="f_updated_date"/>
		<result property="updatedPersonId" jdbcType="INTEGER" column="f_updated_person_id"/>
		<result property="updatedPerson" jdbcType="VARCHAR" column="f_updated_person"/>
	    <result property="cigtype" jdbcType="INTEGER" column="f_cigtype"/>
	    <result property="subverId" jdbcType="INTEGER" column="f_subver_id"/>
        <result property="subverName" jdbcType="VARCHAR" column="f_subver_name"/>
	</resultMap>
	
	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_id,f_mater_code,f_mater_name,f_mater_version,f_mater_cigbrand,f_type,f_batch_no,f_quality,f_tray_code,f_out_unit,f_out_unit_code,f_entry_unit,f_entry_unit_code,f_entry_order,f_out_order,f_created_date,f_created_person_id,f_created_person,f_updated_date,f_updated_person_id,f_updated_person,f_cigtype,f_subver_id,f_subver_name
	</sql>
			
	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.warehouse.inventory.entity.InventoryflowEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_ware_inventoryflow
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="materCode!=null">f_mater_code,</if>
			<if test="materName!=null">f_mater_name,</if>
			<if test="materVersion!=null">f_mater_version,</if>
			<if test="materCigbrand!=null">f_mater_cigbrand,</if>
			<if test="type!=null">f_type,</if>
			<if test="batchNo!=null">f_batch_no,</if>
			<if test="quality!=null">f_quality,</if>
			<if test="trayCode!=null">f_tray_code,</if>
			<if test="outUnit!=null">f_out_unit,</if>
			<if test="outUnitCode!=null">f_out_unit_code,</if>
			<if test="entryUnit!=null">f_entry_unit,</if>
			<if test="entryUnitCode!=null">f_entry_unit_code,</if>
			<if test="entryOrder!=null">f_entry_order,</if>
			<if test="outOrder!=null">f_out_order,</if>
			<if test="createdDate!=null">f_created_date,</if>
			<if test="createdPersonId!=null">f_created_person_id,</if>
			<if test="createdPerson!=null">f_created_person,</if>
			<if test="updatedDate!=null">f_updated_date,</if>
			<if test="updatedPersonId!=null">f_updated_person_id,</if>
            <if test="cigtype!=null">f_cigtype,</if>
            <if test="subverId!=null">f_subver_id,</if>
			<if test="subverName!=null">f_subver_name,</if>
			<if test="updatedPerson!=null">f_updated_person</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="materCode!=null">#{materCode,jdbcType=VARCHAR},</if>
			<if test="materName!=null">#{materName,jdbcType=VARCHAR},</if>
			<if test="materVersion!=null">#{materVersion,jdbcType=VARCHAR},</if>
			<if test="materCigbrand!=null">#{materCigbrand,jdbcType=VARCHAR},</if>
			<if test="type!=null">#{type,jdbcType=INTEGER},</if>
			<if test="batchNo!=null">#{batchNo,jdbcType=VARCHAR},</if>
			<if test="quality!=null">#{quality,jdbcType=DECIMAL},</if>
			<if test="trayCode!=null">#{trayCode,jdbcType=VARCHAR},</if>
			<if test="outUnit!=null">#{outUnit,jdbcType=VARCHAR},</if>
			<if test="outUnitCode!=null">#{outUnitCode,jdbcType=VARCHAR},</if>
			<if test="entryUnit!=null">#{entryUnit,jdbcType=VARCHAR},</if>
			<if test="entryUnitCode!=null">#{entryUnitCode,jdbcType=VARCHAR},</if>
			<if test="entryOrder!=null">#{entryOrder,jdbcType=VARCHAR},</if>
			<if test="outOrder!=null">#{outOrder,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">#{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">#{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">#{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">#{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">#{updatedPersonId,jdbcType=INTEGER},</if>
            <if test="cigtype!=null">#{cigtype,jdbcType=INTEGER},</if>
            <if test="subverId!=null">#{subverId,jdbcType=INTEGER},</if>
			<if test="subverName!=null">#{subverName,jdbcType=VARCHAR},</if>
			<if test="updatedPerson!=null">#{updatedPerson,jdbcType=VARCHAR}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO t_ware_inventoryflow
			<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="item.materCode!=null">f_mater_code,</if>
					<if test="item.materName!=null">f_mater_name,</if>
					<if test="item.materVersion!=null">f_mater_version,</if>
					<if test="item.materCigbrand!=null">f_mater_cigbrand,</if>
					<if test="item.type!=null">f_type,</if>
					<if test="item.batchNo!=null">f_batch_no,</if>
					<if test="item.quality!=null">f_quality,</if>
					<if test="item.trayCode!=null">f_tray_code,</if>
					<if test="item.outUnit!=null">f_out_unit,</if>
					<if test="item.outUnitCode!=null">f_out_unit_code,</if>
					<if test="item.entryUnit!=null">f_entry_unit,</if>
					<if test="item.entryUnitCode!=null">f_entry_unit_code,</if>
					<if test="item.entryOrder!=null">f_entry_order,</if>
					<if test="item.outOrder!=null">f_out_order,</if>
					<if test="item.createdDate!=null">f_created_date,</if>
					<if test="item.createdPersonId!=null">f_created_person_id,</if>
					<if test="item.createdPerson!=null">f_created_person,</if>
					<if test="item.updatedDate!=null">f_updated_date,</if>
					<if test="item.updatedPersonId!=null">f_updated_person_id,</if>
                    <if test="item.cigtype!=null">f_cigtype,</if>
                    <if test="item.subverId!=null">f_subver_id,</if>
				    <if test="item.subverName!=null">f_subver_name,</if>
					<if test="item.updatedPerson!=null">f_updated_person</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
					<if test="item.materCode!=null">#{item.materCode,jdbcType=VARCHAR},</if>
					<if test="item.materName!=null">#{item.materName,jdbcType=VARCHAR},</if>
					<if test="item.materVersion!=null">#{item.materVersion,jdbcType=VARCHAR},</if>
					<if test="item.materCigbrand!=null">#{item.materCigbrand,jdbcType=VARCHAR},</if>
					<if test="item.type!=null">#{item.type,jdbcType=INTEGER},</if>
					<if test="item.batchNo!=null">#{item.batchNo,jdbcType=VARCHAR},</if>
					<if test="item.quality!=null">#{item.quality,jdbcType=DECIMAL},</if>
					<if test="item.trayCode!=null">#{item.trayCode,jdbcType=VARCHAR},</if>
					<if test="item.outUnit!=null">#{item.outUnit,jdbcType=VARCHAR},</if>
					<if test="item.outUnitCode!=null">#{item.outUnitCode,jdbcType=VARCHAR},</if>
					<if test="item.entryUnit!=null">#{item.entryUnit,jdbcType=VARCHAR},</if>
					<if test="item.entryUnitCode!=null">#{item.entryUnitCode,jdbcType=VARCHAR},</if>
					<if test="item.entryOrder!=null">#{item.entryOrder,jdbcType=VARCHAR},</if>
					<if test="item.outOrder!=null">#{item.outOrder,jdbcType=VARCHAR},</if>
					<if test="item.createdDate!=null">#{item.createdDate,jdbcType=TIMESTAMP},</if>
					<if test="item.createdPersonId!=null">#{item.createdPersonId,jdbcType=INTEGER},</if>
					<if test="item.createdPerson!=null">#{item.createdPerson,jdbcType=VARCHAR},</if>
					<if test="item.updatedDate!=null">#{item.updatedDate,jdbcType=TIMESTAMP},</if>
					<if test="item.updatedPersonId!=null">#{item.updatedPersonId,jdbcType=INTEGER},</if>
                    <if test="item.cigtype!=null">#{item.cigtype,jdbcType=INTEGER},</if>
                    <if test="item.subverId!=null">#{item.subverId,jdbcType=INTEGER},</if>
				    <if test="item.subverName!=null">#{item.subverName,jdbcType=VARCHAR},</if>
					<if test="item.updatedPerson!=null">#{item.updatedPerson,jdbcType=VARCHAR}</if>
			</trim>
		</foreach>
	</insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.warehouse.inventory.entity.InventoryflowEntity">
		UPDATE t_ware_inventoryflow 
		<set>
			<if test="materCode!=null">f_mater_code = #{materCode,jdbcType=VARCHAR},</if>
			<if test="materName!=null">f_mater_name = #{materName,jdbcType=VARCHAR},</if>
			<if test="materVersion!=null">f_mater_version = #{materVersion,jdbcType=VARCHAR},</if>
			<if test="materCigbrand!=null">f_mater_cigbrand = #{materCigbrand,jdbcType=VARCHAR},</if>
			<if test="type!=null">f_type = #{type,jdbcType=INTEGER},</if>
			<if test="batchNo!=null">f_batch_no = #{batchNo,jdbcType=VARCHAR},</if>
			<if test="quality!=null">f_quality = #{quality,jdbcType=DECIMAL},</if>
			<if test="trayCode!=null">f_tray_code = #{trayCode,jdbcType=VARCHAR},</if>
			<if test="outUnit!=null">f_out_unit = #{outUnit,jdbcType=VARCHAR},</if>
			<if test="outUnitCode!=null">f_out_unit_code = #{outUnitCode,jdbcType=VARCHAR},</if>
			<if test="entryUnit!=null">f_entry_unit = #{entryUnit,jdbcType=VARCHAR},</if>
			<if test="entryUnitCode!=null">f_entry_unit_code = #{entryUnitCode,jdbcType=VARCHAR},</if>
			<if test="entryOrder!=null">f_entry_order = #{entryOrder,jdbcType=VARCHAR},</if>
			<if test="outOrder!=null">f_out_order = #{outOrder,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">f_created_date = #{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">f_created_person_id = #{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">f_created_person = #{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">f_updated_date = #{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER},</if>
            <if test="cigtype!=null">f_cigtype = #{cigtype,jdbcType=INTEGER},</if>
            <if test="subverId!=null">f_subver_id = #{subverId,jdbcType=INTEGER},</if>
			<if test="subverName!=null">f_subver_name = #{subverName,jdbcType=VARCHAR},</if>
			<if test="updatedPerson!=null">f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
		</set>
		<where> 
			f_id  = #{id}
		</where>				
	</update>
	
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_ware_inventoryflow 
			<set>
				<if test="item.materCode!=null">f_mater_code = #{item.materCode,jdbcType=VARCHAR},</if>
				<if test="item.materName!=null">f_mater_name = #{item.materName,jdbcType=VARCHAR},</if>
				<if test="item.materVersion!=null">f_mater_version = #{item.materVersion,jdbcType=VARCHAR},</if>
				<if test="item.materCigbrand!=null">f_mater_cigbrand = #{item.materCigbrand,jdbcType=VARCHAR},</if>
				<if test="item.type!=null">f_type = #{item.type,jdbcType=INTEGER},</if>
				<if test="item.batchNo!=null">f_batch_no = #{item.batchNo,jdbcType=VARCHAR},</if>
				<if test="item.quality!=null">f_quality = #{item.quality,jdbcType=DECIMAL},</if>
				<if test="item.trayCode!=null">f_tray_code = #{item.trayCode,jdbcType=VARCHAR},</if>
				<if test="item.outUnit!=null">f_out_unit = #{item.outUnit,jdbcType=VARCHAR},</if>
				<if test="item.outUnitCode!=null">f_out_unit_code = #{item.outUnitCode,jdbcType=VARCHAR},</if>
				<if test="item.entryUnit!=null">f_entry_unit = #{item.entryUnit,jdbcType=VARCHAR},</if>
				<if test="item.entryUnitCode!=null">f_entry_unit_code = #{item.entryUnitCode,jdbcType=VARCHAR},</if>
				<if test="item.entryOrder!=null">f_entry_order = #{item.entryOrder,jdbcType=VARCHAR},</if>
				<if test="item.outOrder!=null">f_out_order = #{item.outOrder,jdbcType=VARCHAR},</if>
				<if test="item.createdDate!=null">f_created_date = #{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">f_created_person_id = #{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">f_created_person = #{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">f_updated_date = #{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id = #{item.updatedPersonId,jdbcType=INTEGER},</if>
                <if test="item.cigtype!=null">f_cigtype = #{item.cigtype,jdbcType=INTEGER},</if>
                <if test="item.subverId!=null">f_subver_id = #{item.subverId,jdbcType=INTEGER},</if>
			    <if test="item.subverName!=null">f_subver_name = #{item.subverName,jdbcType=VARCHAR},</if>
				<if test="item.updatedPerson!=null">f_updated_person = #{item.updatedPerson,jdbcType=VARCHAR}</if>
			</set>
			<where> 
				f_id  = #{item.id}
			</where>	
		</foreach>
	</update>	
	
	
	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_ware_inventoryflow 
		WHERE f_id  = #{id}	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_ware_inventoryflow WHERE f_id  = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_ware_inventoryflow WHERE f_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	
	
	<sql id="where">
		<where>
			1=1
			<if test="id!=null">AND t.f_id = #{id,jdbcType=INTEGER}</if>
			<if test="materCode!=null and materCode!=''">AND t.f_mater_code = #{materCode,jdbcType=VARCHAR}</if>
			<if test="materName!=null and materName!=''">AND t.f_mater_name = #{materName,jdbcType=VARCHAR}</if>
			<if test="materVersion!=null and materVersion!=''">AND t.f_mater_version = #{materVersion,jdbcType=VARCHAR}</if>
			<if test="materCigbrand!=null and materCigbrand!=''">AND t.f_mater_cigbrand = #{materCigbrand,jdbcType=VARCHAR}</if>
			<if test="type!=null">AND t.f_type = #{type,jdbcType=INTEGER}</if>
			<if test="batchNo!=null and batchNo!=''">AND t.f_batch_no = #{batchNo,jdbcType=VARCHAR}</if>
			<if test="quality!=null">AND t.f_quality = #{quality,jdbcType=DECIMAL}</if>
			<if test="trayCode!=null and trayCode!=''">AND t.f_tray_code = #{trayCode,jdbcType=VARCHAR}</if>
			<if test="outUnit!=null and outUnit!=''">AND t.f_out_unit = #{outUnit,jdbcType=VARCHAR}</if>
			<if test="outUnitCode!=null and outUnitCode!=''">AND t.f_out_unit_code = #{outUnitCode,jdbcType=VARCHAR}</if>
			<if test="entryUnit!=null and entryUnit!=''">AND t.f_entry_unit = #{entryUnit,jdbcType=VARCHAR}</if>
			<if test="entryUnitCode!=null and entryUnitCode!=''">AND t.f_entry_unit_code = #{entryUnitCode,jdbcType=VARCHAR}</if>
			<if test="entryOrder!=null and entryOrder!=''">AND t.f_entry_order = #{entryOrder,jdbcType=VARCHAR}</if>
			<if test="outOrder!=null and outOrder!=''">AND t.f_out_order = #{outOrder,jdbcType=VARCHAR}</if>
			<if test="createdDate!=null">AND t.f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
			<if test="createdPersonId!=null">AND t.f_created_person_id = #{createdPersonId,jdbcType=INTEGER}</if>
			<if test="createdPerson!=null and createdPerson!=''">AND t.f_created_person = #{createdPerson,jdbcType=VARCHAR}</if>
			<if test="updatedDate!=null">AND t.f_updated_date = #{updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="updatedPersonId!=null">AND t.f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER}</if>
            <if test="cigtype!=null">AND t.f_cigtype = #{cigtype,jdbcType=INTEGER}</if>
            <if test="subverId!=null">AND t.f_subver_id = #{subverId,jdbcType=INTEGER}</if>
			<if test="subverName!=null and subverName!=''">AND t.f_subver_name = #{subverName,jdbcType=VARCHAR}</if>
            <if test="updatedPerson!=null and updatedPerson!=''">AND t.f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
		</where>
	</sql>
	
	<sql id="queryFrom">
		FROM t_ware_inventoryflow
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			1=1
			<if test="whereCondition!=null">
				<if test="whereCondition.id!=null">AND t.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
				<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.type!=null">AND t.f_type = #{whereCondition.type,jdbcType=INTEGER}</if>
				<if test="whereCondition.batchNo!=null and whereCondition.batchNo!=''">AND t.f_batch_no like #{whereCondition.batchNoByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.quality!=null">AND t.f_quality = #{whereCondition.quality,jdbcType=DECIMAL}</if>
				<if test="whereCondition.trayCode!=null and whereCondition.trayCode!=''">AND t.f_tray_code like #{whereCondition.trayCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.outUnit!=null and whereCondition.outUnit!=''">AND t.f_out_unit like #{whereCondition.outUnitByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.outUnitCode!=null and whereCondition.outUnitCode!=''">AND t.f_out_unit_code like #{whereCondition.outUnitCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.entryUnit!=null and whereCondition.entryUnit!=''">AND t.f_entry_unit like #{whereCondition.entryUnitByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.entryUnitCode!=null and whereCondition.entryUnitCode!=''">AND t.f_entry_unit_code like #{whereCondition.entryUnitCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.entryOrder!=null and whereCondition.entryOrder!=''">AND t.f_entry_order like #{whereCondition.entryOrderByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.outOrder!=null and whereCondition.outOrder!=''">AND t.f_out_order like #{whereCondition.outOrderByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.createdDate!=null">AND t.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.createdPersonId!=null">AND t.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.updatedDate!=null">AND t.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.updatedPersonId!=null">AND t.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
                <if test="whereCondition.cigtype!=null">AND t.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
                <if test="whereCondition.subverId!=null">AND t.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
				<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t.f_subver_name like #{whereCondition.subverNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
						t.f_mater_code like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_mater_name like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_mater_version like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_mater_cigbrand like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_batch_no like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_tray_code like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_out_unit like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_out_unit_code like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_entry_unit like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_entry_unit_code like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_entry_order like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_out_order like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_created_person like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_updated_person like #{keyWordByLike,jdbcType=VARCHAR}  OR
				        t.f_subver_name like #{keyWordByLike,jdbcType=VARCHAR} 
					)
			</if>
			<if test="startTime!=null and startTime!=''">AND t.f_created_date &gt;= #{startTime}</if>
			<if test="endTime!=null and endTime!=''">AND t.f_created_date &lt;= #{endTime}</if>
		</where>
	</sql>
	
	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.warehouse.inventory.entity.InventoryflowEntity" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="where" />
	</select>
	
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
		resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
		parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)  
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>
</mapper>

