<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.warehouse.inventory.mapper.InventorymainMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.warehouse.inventory.entity.InventorymainEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="materId" jdbcType="INTEGER" column="f_mater_id"/>
		<result property="materCode" jdbcType="VARCHAR" column="f_mater_code"/>
		<result property="materName" jdbcType="VARCHAR" column="f_mater_name"/>
		<result property="materVersionId" jdbcType="INTEGER" column="f_mater_version_id"/>
		<result property="materVersion" jdbcType="VARCHAR" column="f_mater_version"/>
		<result property="materCigbrandId" jdbcType="INTEGER" column="f_mater_cigbrand_id"/>
		<result property="materCigbrand" jdbcType="VARCHAR" column="f_mater_cigbrand"/>
		<result property="totalCount" jdbcType="DECIMAL" column="f_total_count"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPerson" jdbcType="VARCHAR" column="f_created_person"/>
		<result property="updatedDate" jdbcType="TIMESTAMP" column="f_updated_date"/>
		<result property="updatedPersonId" jdbcType="INTEGER" column="f_updated_person_id"/>
		<result property="updatedPerson" jdbcType="VARCHAR" column="f_updated_person"/>
		<result property="cigtype" jdbcType="INTEGER" column="f_cigtype"/>
		<result property="lockStock" jdbcType="DECIMAL" column="f_lock_stock"/>
		<result property="availableStocks" jdbcType="DECIMAL" column="availableStocks"/>
        <result property="subverId" jdbcType="INTEGER" column="f_subver_id"/>
        <result property="subverName" jdbcType="VARCHAR" column="f_subver_name"/>

		<result property="batchNo" jdbcType="VARCHAR" column="f_batch_no"/>
		<result property="inventQuality" jdbcType="DECIMAL" column="f_invent_quality"/>
		<result property="outQuality" jdbcType="DECIMAL" column="f_out_quality"/>
		<result property="surplusQuality" jdbcType="DECIMAL" column="f_surplus_quality"/>
		<result property="outoquality" jdbcType="DECIMAL" column="f_outof_quality"/>
		<result property="produceDate" jdbcType="TIMESTAMP" column="f_produce_date"/>
		<result property="trayusableQuality" jdbcType="DECIMAL" column="trayusableQuality"/>
		<result property="regularQuality" jdbcType="DECIMAL" column="regularQuality"/>
		<result property="usableQuality" jdbcType="DECIMAL" column="usableQuality"/>
	</resultMap>

	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_id,f_mater_id,f_mater_code,f_mater_name,f_mater_version_id,f_mater_version,f_mater_cigbrand_id,f_mater_cigbrand,f_total_count,f_created_date,f_created_person_id,f_created_person,f_updated_date,f_updated_person_id,f_updated_person,f_cigtype,f_lock_stock,f_subver_id,f_subver_name
	</sql>

	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.warehouse.inventory.entity.InventorymainEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_ware_inventorymain
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="materId!=null">f_mater_id,</if>
			<if test="materCode!=null">f_mater_code,</if>
			<if test="materName!=null">f_mater_name,</if>
			<if test="materVersionId!=null">f_mater_version_id,</if>
			<if test="materVersion!=null">f_mater_version,</if>
			<if test="materCigbrandId!=null">f_mater_cigbrand_id,</if>
			<if test="materCigbrand!=null">f_mater_cigbrand,</if>
			<if test="totalCount!=null">f_total_count,</if>
			<if test="createdDate!=null">f_created_date,</if>
			<if test="createdPersonId!=null">f_created_person_id,</if>
			<if test="createdPerson!=null">f_created_person,</if>
			<if test="updatedDate!=null">f_updated_date,</if>
			<if test="updatedPersonId!=null">f_updated_person_id,</if>
			<if test="updatedPerson!=null">f_updated_person,</if>
			<if test="cigtype!=null">f_cigtype,</if>
			<if test="subverId!=null">f_subver_id,</if>
			<if test="subverName!=null">f_subver_name,</if>
			<if test="lockStock!=null">f_lock_stock</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="materId!=null">#{materId,jdbcType=INTEGER},</if>
			<if test="materCode!=null">#{materCode,jdbcType=VARCHAR},</if>
			<if test="materName!=null">#{materName,jdbcType=VARCHAR},</if>
			<if test="materVersionId!=null">#{materVersionId,jdbcType=INTEGER},</if>
			<if test="materVersion!=null">#{materVersion,jdbcType=VARCHAR},</if>
			<if test="materCigbrandId!=null">#{materCigbrandId,jdbcType=INTEGER},</if>
			<if test="materCigbrand!=null">#{materCigbrand,jdbcType=VARCHAR},</if>
			<if test="totalCount!=null">#{totalCount,jdbcType=DECIMAL},</if>
			<if test="createdDate!=null">#{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">#{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">#{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">#{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">#{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">#{updatedPerson,jdbcType=VARCHAR},</if>
			<if test="cigtype!=null">#{cigtype,jdbcType=INTEGER},</if>
			<if test="subverId!=null">#{subverId,jdbcType=INTEGER},</if>
			<if test="subverName!=null">#{subverName,jdbcType=VARCHAR},</if>
			<if test="lockStock!=null">#{lockStock,jdbcType=DECIMAL}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO t_ware_inventorymain
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="item.materId!=null">f_mater_id,</if>
				<if test="item.materCode!=null">f_mater_code,</if>
				<if test="item.materName!=null">f_mater_name,</if>
				<if test="item.materVersionId!=null">f_mater_version_id,</if>
				<if test="item.materVersion!=null">f_mater_version,</if>
				<if test="item.materCigbrandId!=null">f_mater_cigbrand_id,</if>
				<if test="item.materCigbrand!=null">f_mater_cigbrand,</if>
				<if test="item.totalCount!=null">f_total_count,</if>
				<if test="item.createdDate!=null">f_created_date,</if>
				<if test="item.createdPersonId!=null">f_created_person_id,</if>
				<if test="item.createdPerson!=null">f_created_person,</if>
				<if test="item.updatedDate!=null">f_updated_date,</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id,</if>
				<if test="item.updatedPerson!=null">f_updated_person,</if>
				<if test="item.cigtype!=null">f_cigtype,</if>
				<if test="item.subverId!=null">f_subver_id,</if>
				<if test="item.subverName!=null">f_subver_name,</if>
				<if test="item.lockStock!=null">f_lock_stock</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
				<if test="item.materId!=null">#{item.materId,jdbcType=INTEGER},</if>
				<if test="item.materCode!=null">#{item.materCode,jdbcType=VARCHAR},</if>
				<if test="item.materName!=null">#{item.materName,jdbcType=VARCHAR},</if>
				<if test="item.materVersionId!=null">#{item.materVersionId,jdbcType=INTEGER},</if>
				<if test="item.materVersion!=null">#{item.materVersion,jdbcType=VARCHAR},</if>
				<if test="item.materCigbrandId!=null">#{item.materCigbrandId,jdbcType=INTEGER},</if>
				<if test="item.materCigbrand!=null">#{item.materCigbrand,jdbcType=VARCHAR},</if>
				<if test="item.totalCount!=null">#{item.totalCount,jdbcType=DECIMAL},</if>
				<if test="item.createdDate!=null">#{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">#{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">#{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">#{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">#{item.updatedPersonId,jdbcType=INTEGER},</if>
				<if test="item.updatedPerson!=null">#{item.updatedPerson,jdbcType=VARCHAR},</if>
				<if test="item.cigtype!=null">#{item.cigtype,jdbcType=INTEGER},</if>
				<if test="item.subverId!=null">#{item.subverId,jdbcType=INTEGER},</if>
				<if test="item.subverName!=null">#{item.subverName,jdbcType=VARCHAR},</if>
				<if test="item.lockStock!=null">#{item.lockStock,jdbcType=DECIMAL}</if>
			</trim>
		</foreach>
	</insert>

	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.warehouse.inventory.entity.InventorymainEntity">
		UPDATE t_ware_inventorymain
		<set>
			<if test="materId!=null">f_mater_id = #{materId,jdbcType=INTEGER},</if>
			<if test="materCode!=null">f_mater_code = #{materCode,jdbcType=VARCHAR},</if>
			<if test="materName!=null">f_mater_name = #{materName,jdbcType=VARCHAR},</if>
			<if test="materVersionId!=null">f_mater_version_id = #{materVersionId,jdbcType=INTEGER},</if>
			<if test="materVersion!=null">f_mater_version = #{materVersion,jdbcType=VARCHAR},</if>
			<if test="materCigbrandId!=null">f_mater_cigbrand_id = #{materCigbrandId,jdbcType=INTEGER},</if>
			<if test="materCigbrand!=null">f_mater_cigbrand = #{materCigbrand,jdbcType=VARCHAR},</if>
			<if test="totalCount!=null">f_total_count = #{totalCount,jdbcType=DECIMAL},</if>
			<if test="createdDate!=null">f_created_date = #{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">f_created_person_id = #{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">f_created_person = #{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">f_updated_date = #{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">f_updated_person = #{updatedPerson,jdbcType=VARCHAR},</if>
			<if test="cigtype!=null">f_cigtype = #{cigtype,jdbcType=INTEGER},</if>
			<if test="subverId!=null">f_subver_id = #{subverId,jdbcType=INTEGER},</if>
			<if test="subverName!=null">f_subver_name = #{subverName,jdbcType=VARCHAR},</if>
			<if test="lockStock!=null">f_lock_stock = #{lockStock,jdbcType=DECIMAL}</if>
		</set>
		<where>
			f_id  = #{id}
		</where>
	</update>

	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_ware_inventorymain
			<set>
				<if test="item.materId!=null">f_mater_id = #{item.materId,jdbcType=INTEGER},</if>
				<if test="item.materCode!=null">f_mater_code = #{item.materCode,jdbcType=VARCHAR},</if>
				<if test="item.materName!=null">f_mater_name = #{item.materName,jdbcType=VARCHAR},</if>
				<if test="item.materVersionId!=null">f_mater_version_id = #{item.materVersionId,jdbcType=INTEGER},</if>
				<if test="item.materVersion!=null">f_mater_version = #{item.materVersion,jdbcType=VARCHAR},</if>
				<if test="item.materCigbrandId!=null">f_mater_cigbrand_id = #{item.materCigbrandId,jdbcType=INTEGER},</if>
				<if test="item.materCigbrand!=null">f_mater_cigbrand = #{item.materCigbrand,jdbcType=VARCHAR},</if>
				<if test="item.totalCount!=null">f_total_count = #{item.totalCount,jdbcType=DECIMAL},</if>
				<if test="item.createdDate!=null">f_created_date = #{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">f_created_person_id = #{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">f_created_person = #{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">f_updated_date = #{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id = #{item.updatedPersonId,jdbcType=INTEGER},</if>
				<if test="item.updatedPerson!=null">f_updated_person = #{item.updatedPerson,jdbcType=VARCHAR},</if>
				<if test="item.cigtype!=null">f_cigtype = #{item.cigtype,jdbcType=INTEGER},</if>
				<if test="item.subverId!=null">f_subver_id = #{item.subverId,jdbcType=INTEGER},</if>
				<if test="item.subverName!=null">f_subver_name = #{item.subverName,jdbcType=VARCHAR},</if>
				<if test="item.lockStock!=null">f_lock_stock = #{item.lockStock,jdbcType=DECIMAL}</if>
			</set>
			<where>
				f_id  = #{item.id}
			</where>
		</foreach>
	</update>


	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_ware_inventorymain
		WHERE f_id  = #{id}
	</select>

	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_ware_inventorymain WHERE f_id  = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_ware_inventorymain WHERE f_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>


	<sql id="where">
		<where>
			1=1
			<if test="id!=null">AND t.f_id = #{id,jdbcType=INTEGER}</if>
			<if test="materId!=null">AND t.f_mater_id = #{materId,jdbcType=INTEGER}</if>
			<if test="materCode!=null and materCode!=''">AND t.f_mater_code = #{materCode,jdbcType=VARCHAR}</if>
			<if test="materName!=null and materName!=''">AND t.f_mater_name = #{materName,jdbcType=VARCHAR}</if>
			<if test="materVersionId!=null">AND t.f_mater_version_id = #{materVersionId,jdbcType=INTEGER}</if>
			<if test="materVersion!=null and materVersion!=''">AND t.f_mater_version = #{materVersion,jdbcType=VARCHAR}</if>
			<if test="materCigbrandId!=null">AND t.f_mater_cigbrand_id = #{materCigbrandId,jdbcType=INTEGER}</if>
			<if test="materCigbrand!=null and materCigbrand!=''">AND t.f_mater_cigbrand = #{materCigbrand,jdbcType=VARCHAR}</if>
			<if test="totalCount!=null">AND t.f_total_count = #{totalCount,jdbcType=DECIMAL}</if>
			<if test="createdDate!=null">AND t.f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
			<if test="createdPersonId!=null">AND t.f_created_person_id = #{createdPersonId,jdbcType=INTEGER}</if>
			<if test="createdPerson!=null and createdPerson!=''">AND t.f_created_person = #{createdPerson,jdbcType=VARCHAR}</if>
			<if test="updatedDate!=null">AND t.f_updated_date = #{updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="updatedPersonId!=null">AND t.f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER}</if>
			<if test="updatedPerson!=null and updatedPerson!=''">AND t.f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
			<if test="cigtype!=null">AND t.f_cigtype = #{cigtype,jdbcType=INTEGER}</if>
			<if test="subverId!=null">AND t.f_subver_id = #{subverId,jdbcType=INTEGER}</if>
			<if test="subverName!=null and subverName!=''">AND t.f_subver_name = #{subverName,jdbcType=VARCHAR}</if>
			<if test="lockStock!=null">AND t.f_lock_stock = #{lockStock,jdbcType=DECIMAL}</if>
		</where>
	</sql>

	<sql id="queryFrom">
		FROM t_ware_inventorymain
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			1=1
			<if test="whereCondition!=null">
				<if test="whereCondition.id!=null">AND t.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
				<if test="whereCondition.materId!=null">AND t.f_mater_id = #{whereCondition.materId,jdbcType=INTEGER}</if>
				<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.materVersionId!=null">AND t.f_mater_version_id = #{whereCondition.materVersionId,jdbcType=INTEGER}</if>
				<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.materCigbrandId!=null">AND t.f_mater_cigbrand_id = #{whereCondition.materCigbrandId,jdbcType=INTEGER}</if>
				<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.totalCount!=null">AND t.f_total_count = #{whereCondition.totalCount,jdbcType=DECIMAL}</if>
				<if test="whereCondition.createdDate!=null">AND t.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.createdPersonId!=null">AND t.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.updatedDate!=null">AND t.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.updatedPersonId!=null">AND t.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.cigtype!=null">AND t.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
				<if test="whereCondition.subverId!=null">AND t.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
				<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t.f_subver_name like #{whereCondition.subverNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.lockStock!=null">AND t.f_lock_stock = #{whereCondition.lockStock,jdbcType=DECIMAL}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
				t.f_mater_code like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_mater_name like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_mater_version like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_mater_cigbrand like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_created_person like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_updated_person like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_subver_name like #{keyWordByLike,jdbcType=VARCHAR}
				)
			</if>
			<if test="startTime!=null and startTime!=''">AND t.f_created_date &gt;= #{startTime}</if>
			<if test="endTime!=null and endTime!=''">AND t.f_created_date &lt;= #{endTime}</if>
		</where>
	</sql>

	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.warehouse.inventory.entity.InventorymainEntity" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="where" />
	</select>

	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
			resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
			parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>

	<!--出库页面 点击明细 弹出选择出库明细列表-->
	<select id="querymaindetail" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO" resultMap="BaseResultMap">
		SELECT
		SUM(t1.f_surplus_quality) AS surplusQuality,
		IFNULL(SUM(t1.f_outof_quality), 0) outQuality,
		IFNULL(t3.f_quality, 0) - IFNULL(t3.f_outof_quality, 0) AS trayusableQuality,
		(
		SUM(t1.f_surplus_quality) - IFNULL(SUM(t1.f_outof_quality), 0)
		) AS regularQuality,
		t2.f_total_count - t2.f_lock_stock AS usableQuality,
		t2.f_id,
		t2.f_mater_id,
		t2.f_mater_code,
		t2.f_mater_name,
		t2.f_mater_version_id,
		t2.f_mater_version,
		t2.f_mater_cigbrand_id,
		t2.f_mater_cigbrand,
		t2.f_total_count,
		t2.f_lock_stock,
		t2.f_cigtype,
		t2.f_subver_id,
		t2.f_subver_name
		FROM
		t_ware_inventorydetail t1
		LEFT JOIN t_ware_inventorymain t2 ON t1.f_main_id = t2.f_id
		LEFT JOIN t_ware_lefttray t3 ON t1.f_mater_code = t3.f_mater_code AND t1.f_subver_id = t3.f_subver_id
		WHERE
		1 = 1
		AND (t2.f_total_count - t2.f_lock_stock) != 0
		AND NOT EXISTS (select tt.f_id  from  t_ware_outorderdetail tt  where tt.f_mainorder_id=#{whereCondition.outmainorderId,jdbcType=INTEGER} AND tt.f_mater_code=t2.f_mater_code  and tt.f_subver_id=t2.f_subver_id)
		<if test="whereCondition!=null">
			<if test="whereCondition.id!=null">AND t2.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
			<if test="whereCondition.materId!=null">AND t2.f_mater_id = #{whereCondition.materId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t2.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t2.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materVersionId!=null">AND t2.f_mater_version_id = #{whereCondition.materVersionId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t2.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materCigbrandId!=null">AND t2.f_mater_cigbrand_id = #{whereCondition.materCigbrandId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t2.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.totalCount!=null">AND t2.f_total_count = #{whereCondition.totalCount,jdbcType=DECIMAL}</if>
			<if test="whereCondition.createdDate!=null">AND t2.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.createdPersonId!=null">AND t2.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t2.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.updatedDate!=null">AND t2.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.updatedPersonId!=null">AND t2.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t2.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.cigtype!=null">AND t2.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverId!=null">AND t2.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t2.f_subver_name = #{whereCondition.subverName,jdbcType=VARCHAR}</if>
		</if>
		GROUP BY
		t1.f_mater_code,t2.f_subver_id
		ORDER BY
		IFNULL(SUM(t1.f_outof_quality), 0),
		t2.f_total_count DESC


		<!--SELECT-->
		<!--SUM(t1.f_surplus_quality) AS surplusQuality,-->
		<!--IFNULL(SUM(t1.f_outof_quality),0) outQuality,-->
		<!--IFNULL(t3.f_quality, 0) - IFNULL(t3.f_outof_quality, 0) AS trayusableQuality,-->
		<!--(SUM(t1.f_surplus_quality)-IFNULL(SUM(t1.f_outof_quality),0)) AS regularQuality,-->
		<!--t2.f_total_count-t2.f_lock_stock AS usableQuality,-->
		<!--t2.f_id,-->
		<!--t2.f_mater_id,-->
		<!--t2.f_mater_code,-->
		<!--t2.f_mater_name,-->
		<!--t2.f_mater_version_id,-->
		<!--t2.f_mater_version,-->
		<!--t2.f_mater_cigbrand_id,-->
		<!--t2.f_mater_cigbrand,-->
		<!--t2.f_total_count,-->
		<!--t2.f_lock_stock,-->
		<!--t2.f_cigtype-->
		<!--FROM-->
		<!--t_ware_inventorydetail t1-->
		<!--LEFT JOIN t_ware_inventorymain t2 ON t1.f_main_id = t2.f_id-->
		<!--LEFT JOIN t_ware_lefttray t3 ON t1.f_mater_code = t3.f_mater_code-->
		<!--WHERE 1=1-->
		<!--AND (t2.f_total_count-t2.f_lock_stock)!=0-->
		<!--AND t2.f_mater_code NOT in (SELECT f_mater_code FROM t_ware_outorderdetail WHERE f_mainorder_id=#{whereCondition.outmainorderId,jdbcType=INTEGER})-->
		<!--<if test="whereCondition!=null">-->
			<!--<if test="whereCondition.id!=null">AND t2.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>-->
			<!--<if test="whereCondition.materId!=null">AND t2.f_mater_id = #{whereCondition.materId,jdbcType=INTEGER}</if>-->
			<!--<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t2.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>-->
			<!--<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t2.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>-->
			<!--<if test="whereCondition.materVersionId!=null">AND t2.f_mater_version_id = #{whereCondition.materVersionId,jdbcType=INTEGER}</if>-->
			<!--<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t2.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>-->
			<!--<if test="whereCondition.materCigbrandId!=null">AND t2.f_mater_cigbrand_id = #{whereCondition.materCigbrandId,jdbcType=INTEGER}</if>-->
			<!--<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t2.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>-->
			<!--<if test="whereCondition.totalCount!=null">AND t2.f_total_count = #{whereCondition.totalCount,jdbcType=DECIMAL}</if>-->
			<!--<if test="whereCondition.createdDate!=null">AND t2.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>-->
			<!--<if test="whereCondition.createdPersonId!=null">AND t2.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>-->
			<!--<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t2.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>-->
			<!--<if test="whereCondition.updatedDate!=null">AND t2.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>-->
			<!--<if test="whereCondition.updatedPersonId!=null">AND t2.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>-->
			<!--<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t2.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>-->
			<!--<if test="whereCondition.cigtype!=null">AND t2.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>-->
		<!--</if>-->
		<!--GROUP BY t1.f_mater_code-->
		<!--ORDER BY IFNULL(SUM(t1.f_outof_quality),0),t2.f_total_count DESC-->
	</select>

	<select id="querymaindetailcount" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO" resultType="int">
		SELECT
		COUNT(DISTINCT(t2.f_id))
		FROM
		t_ware_inventorydetail t1
		LEFT JOIN t_ware_inventorymain t2 ON t1.f_main_id = t2.f_id
		LEFT JOIN t_ware_lefttray t3 ON t1.f_mater_code = t3.f_mater_code
		WHERE
		1 = 1
		AND (t2.f_total_count - t2.f_lock_stock) != 0
		AND NOT EXISTS (select tt.f_id  from  t_ware_outorderdetail tt  where tt.f_mainorder_id=#{whereCondition.outmainorderId,jdbcType=INTEGER} AND tt.f_mater_code=t2.f_mater_code  and tt.f_subver_id=t2.f_subver_id)
		<if test="whereCondition!=null">
			<if test="whereCondition.id!=null">AND t2.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
			<if test="whereCondition.materId!=null">AND t2.f_mater_id = #{whereCondition.materId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t2.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t2.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materVersionId!=null">AND t2.f_mater_version_id = #{whereCondition.materVersionId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t2.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materCigbrandId!=null">AND t2.f_mater_cigbrand_id = #{whereCondition.materCigbrandId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t2.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.totalCount!=null">AND t2.f_total_count = #{whereCondition.totalCount,jdbcType=DECIMAL}</if>
			<if test="whereCondition.createdDate!=null">AND t2.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.createdPersonId!=null">AND t2.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t2.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.updatedDate!=null">AND t2.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.updatedPersonId!=null">AND t2.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t2.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.cigtype!=null">AND t2.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverId!=null">AND t2.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t2.f_subver_name = #{whereCondition.subverName,jdbcType=VARCHAR}</if>
		</if>
	</select>


	<!-- 根据批次号查询库存 -->
	<select id="selectInventory" parameterType="String" resultMap="BaseResultMap">
		SELECT
		imd.f_produce_date,
		imd.f_outof_quality,
		im.f_id,
		im.f_mater_id,
		im.f_mater_code,
		im.f_mater_name,
		im.f_mater_version_id,
		im.f_mater_version,
		im.f_mater_cigbrand_id,
		im.f_mater_cigbrand,
		im.f_total_count,
		im.f_lock_stock,
		(im.f_total_count-im.f_lock_stock) as availableStocks,
		im.f_created_date,
		im.f_created_person_id,
		im.f_created_person,
		im.f_updated_date,
		im.f_updated_person_id,
		im.f_updated_person,
		im.f_cigtype,
		im.f_subver_id,
		im.f_subver_name,
		imd.f_surplus_quality,
		imd.f_out_quality,
		imd.f_invent_quality,
		imd.f_batch_no
		FROM
		t_ware_inventorymain AS im
		LEFT JOIN t_ware_inventorydetail AS imd  ON imd.f_main_id = im.f_id
		WHERE imd.f_batch_no = #{batchNo}
	</select>

	<!-- 分页查询 -->
	<select id="queryILByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
			resultMap="BaseResultMap">
		SELECT
		t.f_id,t.f_mater_code,t.f_mater_name,
		t.f_mater_version,t.f_mater_cigbrand,
		w.f_quality,
		t.f_total_count,
		t.f_lock_stock,
		t.f_subver_id,
		t.f_subver_name,
		(t.f_total_count-t.f_lock_stock) as availableStocks,
		t.f_cigtype
		FROM t_ware_inventorymain t LEFT JOIN t_ware_lefttray w  ON t.f_mater_code=w.f_mater_code
		<include refid="whereForLike" />
		GROUP BY t.f_id
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryILCount" resultType="int"
			parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>

	<select id="querymainBymatercode" resultMap="BaseResultMap">
		SELECT * FROM t_ware_inventorymain WHERE f_mater_code = #{0} AND f_subver_id = #{1}
	</select>


	<!--获取库存明细列表-->
	<select id="queryAlldetails" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO" resultMap="BaseResultMap">
		SELECT
			*
		FROM
		t_ware_inventorymain t2
		WHERE
		1 = 1
		AND NOT EXISTS (select 1  from  t_ware_unqualifiedproduct tt  where  tt.f_mater_code=t2.f_mater_code  and tt.f_subver_id=t2.f_subver_id AND tt.f_status=0)
		<if test="whereCondition!=null">
			<if test="whereCondition.id!=null">AND t2.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
			<if test="whereCondition.materId!=null">AND t2.f_mater_id = #{whereCondition.materId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t2.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t2.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materVersionId!=null">AND t2.f_mater_version_id = #{whereCondition.materVersionId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t2.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materCigbrandId!=null">AND t2.f_mater_cigbrand_id = #{whereCondition.materCigbrandId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t2.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.totalCount!=null">AND t2.f_total_count = #{whereCondition.totalCount,jdbcType=DECIMAL}</if>
			<if test="whereCondition.createdDate!=null">AND t2.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.createdPersonId!=null">AND t2.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t2.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.updatedDate!=null">AND t2.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.updatedPersonId!=null">AND t2.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t2.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.cigtype!=null">AND t2.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverId!=null">AND t2.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t2.f_subver_name = #{whereCondition.subverName,jdbcType=VARCHAR}</if>
		</if>
	</select>
	<!--获取库存明细个数-->
	<select id="queryAlldetailscount" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO" resultType="int">
		SELECT
		COUNT(1)
		FROM
		t_ware_inventorymain t2
		WHERE
		1 = 1
		AND NOT EXISTS (select 1  from  t_ware_unqualifiedproduct tt  where  tt.f_mater_code=t2.f_mater_code  and tt.f_subver_id=t2.f_subver_id AND tt.f_status=0)
		<if test="whereCondition!=null">
			<if test="whereCondition.id!=null">AND t2.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
			<if test="whereCondition.materId!=null">AND t2.f_mater_id = #{whereCondition.materId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t2.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materName!=null and whereCondition.materName!=''">AND t2.f_mater_name like #{whereCondition.materNameByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materVersionId!=null">AND t2.f_mater_version_id = #{whereCondition.materVersionId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materVersion!=null and whereCondition.materVersion!=''">AND t2.f_mater_version like #{whereCondition.materVersionByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.materCigbrandId!=null">AND t2.f_mater_cigbrand_id = #{whereCondition.materCigbrandId,jdbcType=INTEGER}</if>
			<if test="whereCondition.materCigbrand!=null and whereCondition.materCigbrand!=''">AND t2.f_mater_cigbrand like #{whereCondition.materCigbrandByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.totalCount!=null">AND t2.f_total_count = #{whereCondition.totalCount,jdbcType=DECIMAL}</if>
			<if test="whereCondition.createdDate!=null">AND t2.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.createdPersonId!=null">AND t2.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t2.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.updatedDate!=null">AND t2.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="whereCondition.updatedPersonId!=null">AND t2.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
			<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t2.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
			<if test="whereCondition.cigtype!=null">AND t2.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverId!=null">AND t2.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
			<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t2.f_subver_name = #{whereCondition.subverName,jdbcType=VARCHAR}</if>
		</if>
	</select>
</mapper>

