<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.warehouse.inventory.mapper.OuttraylocalmapMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.warehouse.inventory.entity.OuttraylocalmapEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="orderdetailId" jdbcType="INTEGER" column="f_orderdetail_id"/>
		<result property="receivorId" jdbcType="INTEGER" column="f_receivor_id"/>
		<result property="receivorName" jdbcType="VARCHAR" column="f_receivor_name"/>
		<result property="receiveDate" jdbcType="TIMESTAMP" column="f_receive_date"/>
		<result property="cigsmokeQuality" jdbcType="DECIMAL" column="f_cigsmoke_quality"/>
		<result property="realoutQuality" jdbcType="DECIMAL" column="f_realout_quality"/>
		<result property="trayRfid" jdbcType="VARCHAR" column="f_tray_rfid"/>
		<result property="localCode" jdbcType="VARCHAR" column="f_local_code"/>
		<result property="localRfid" jdbcType="VARCHAR" column="f_local_rfid"/>
		<result property="status" jdbcType="INTEGER" column="f_status"/>
		<result property="batchNo" jdbcType="VARCHAR" column="f_batch_no"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPerson" jdbcType="VARCHAR" column="f_created_person"/>
		<result property="updatedDate" jdbcType="TIMESTAMP" column="f_updated_date"/>
		<result property="updatedPersonId" jdbcType="INTEGER" column="f_updated_person_id"/>
		<result property="updatedPerson" jdbcType="VARCHAR" column="f_updated_person"/>
		<result property="soleCode" jdbcType="VARCHAR" column="f_sole_code"/>
		<result property="trayCode" jdbcType="VARCHAR" column="f_tray_code"/>
		<result property="wareMethod" jdbcType="INTEGER" column="f_ware_method"/>
		<result property="localId" jdbcType="INTEGER" column="f_local_id"/>
		<result property="materCode" jdbcType="VARCHAR" column="f_mater_code"/>
		<result property="wareArea" jdbcType="INTEGER" column="f_ware_area"/>
		<result property="cigtype" jdbcType="INTEGER" column="f_cigtype"/>
		<result property="subverId" jdbcType="INTEGER" column="f_subver_id"/>
		<result property="subverName" jdbcType="VARCHAR" column="f_subver_name"/>
		<result property="isDelete" jdbcType="TINYINT" column="f_is_delete"/>

		<result property="calculateoutoquality" javaType="DECIMAL" column="calculateoutoquality"></result>

		<result property="locallStatus" jdbcType="INTEGER" column="locallStatus"/>
		<result property="trayStatus" jdbcType="INTEGER" column="trayStatus"/>
		<result property="descript" jdbcType="VARCHAR" column="descript"/>
	</resultMap>

	<resultMap id="BaseotdResultMap" type="com.ms.warehouse.inventory.entity.OuttraylocalmapEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="orderdetailId" jdbcType="INTEGER" column="f_orderdetail_id"/>
		<result property="receivorId" jdbcType="INTEGER" column="f_receivor_id"/>
		<result property="receivorName" jdbcType="VARCHAR" column="f_receivor_name"/>
		<result property="receiveDate" jdbcType="TIMESTAMP" column="f_receive_date"/>
		<result property="cigsmokeQuality" jdbcType="DECIMAL" column="f_cigsmoke_quality"/>
		<result property="realoutQuality" jdbcType="DECIMAL" column="f_realout_quality"/>
		<result property="trayRfid" jdbcType="VARCHAR" column="f_tray_rfid"/>
		<result property="localCode" jdbcType="VARCHAR" column="f_local_code"/>
		<result property="localRfid" jdbcType="VARCHAR" column="f_local_rfid"/>
		<result property="status" jdbcType="INTEGER" column="f_status"/>
		<result property="batchNo" jdbcType="VARCHAR" column="f_batch_no"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPerson" jdbcType="VARCHAR" column="f_created_person"/>
		<result property="updatedDate" jdbcType="TIMESTAMP" column="f_updated_date"/>
		<result property="updatedPersonId" jdbcType="INTEGER" column="f_updated_person_id"/>
		<result property="updatedPerson" jdbcType="VARCHAR" column="f_updated_person"/>
		<result property="soleCode" jdbcType="VARCHAR" column="f_sole_code"/>
		<result property="trayCode" jdbcType="VARCHAR" column="f_tray_code"/>
		<result property="wareMethod" jdbcType="INTEGER" column="f_ware_method"/>
		<result property="localId" jdbcType="INTEGER" column="f_local_id"/>
		<result property="materCode" jdbcType="VARCHAR" column="f_mater_code"/>
		<result property="wareArea" jdbcType="INTEGER" column="f_ware_area"/>
		<result property="cigtype" jdbcType="INTEGER" column="f_cigtype"/>

		<result property="mainorderId" jdbcType="INTEGER" column="f_mainorder_id"/>
		<result property="materName" jdbcType="VARCHAR" column="f_mater_name"/>
		<result property="qualityBox" jdbcType="DECIMAL" column="f_quality_box"/>
		<result property="priceNotax" jdbcType="DECIMAL" column="f_price_notax"/>
		<result property="amountNotax" jdbcType="DECIMAL" column="f_amount_notax"/>
		<result property="taxRate" jdbcType="DECIMAL" column="f_tax_rate"/>
		<result property="taxAmount" jdbcType="DECIMAL" column="f_tax_amount"/>
		<result property="amount" jdbcType="DECIMAL" column="f_amount"/>
		<result property="materVersion" jdbcType="VARCHAR" column="f_mater_version"/>
		<result property="materCigbrand" jdbcType="VARCHAR" column="f_mater_cigbrand"/>

		<result property="orderNumber" jdbcType="VARCHAR" column="f_order_number"/>
		<result property="shipmentNumber" jdbcType="VARCHAR" column="f_shipment_number"/>
		<result property="shipmentDate" jdbcType="TIMESTAMP" column="f_shipment_date"/>
		<result property="plateNumber" jdbcType="VARCHAR" column="f_plate_number"/>
		<result property="totalQuality" jdbcType="DECIMAL" column="f_total_quality"/>
		<result property="deliveryDate" jdbcType="TIMESTAMP" column="f_delivery_date"/>
		<result property="transportType" jdbcType="VARCHAR" column="f_transport_type"/>
		<result property="carrier" jdbcType="VARCHAR" column="f_carrier"/>
		<result property="phoneNumber" jdbcType="VARCHAR" column="f_phone_number"/>
		<result property="carrierUnit" jdbcType="VARCHAR" column="f_carrier_unit"/>
		<result property="carrierUnitCode" jdbcType="VARCHAR" column="f_carrier_unit_code"/>
		<result property="reservationDate" jdbcType="TIMESTAMP" column="f_reservation_date"/>
		<result property="shipmentRemark" jdbcType="VARCHAR" column="f_shipment_remark"/>
		<result property="contractNumber" jdbcType="VARCHAR" column="f_contract_number"/>
		<result property="contractDate" jdbcType="TIMESTAMP" column="f_contract_date"/>
		<result property="outboundWareCode" jdbcType="VARCHAR" column="f_outbound_ware_code"/>
		<result property="outboundWare" jdbcType="VARCHAR" column="f_outbound_ware"/>
		<result property="arrivalWareCode" jdbcType="VARCHAR" column="f_arrival_ware_code"/>
		<result property="arrivalWare" jdbcType="VARCHAR" column="f_arrival_ware"/>
		<result property="arrivalRequire" jdbcType="VARCHAR" column="f_arrival_require"/>
		<result property="deliveryRequire" jdbcType="VARCHAR" column="f_delivery_require"/>
		<result property="remark" jdbcType="VARCHAR" column="f_remark"/>
		<result property="outCompliteDate" jdbcType="TIMESTAMP" column="f_out_complite_date"/>
		<result property="forwardUnitCode" jdbcType="VARCHAR" column="f_forward_unit_code"/>
		<result property="forwardUnit" jdbcType="VARCHAR" column="f_forward_unit"/>
		<result property="purchaseUnitCode" jdbcType="VARCHAR" column="f_purchase_unit_code"/>
		<result property="purchaseUnit" jdbcType="VARCHAR" column="f_purchase_unit"/>
		<result property="ncWareCode" jdbcType="VARCHAR" column="f_nc_ware_code"/>
		<result property="ncWare" jdbcType="VARCHAR" column="f_nc_ware"/>
		<result property="outchanCode" jdbcType="VARCHAR" column="f_outchan_code"/>
		<result property="loadDate" jdbcType="TIMESTAMP" column="f_load_date"/>
		<result property="transportCode" jdbcType="VARCHAR" column="f_transport_code"/>
		<result property="isDelete" jdbcType="TINYINT" column="f_is_delete"/>
		<result property="isUrgent" jdbcType="TINYINT" column="f_is_urgent"/>
		<result property="priorityLevel" jdbcType="INTEGER" column="f_priority_level"/>
		<result property="orignMethod" jdbcType="INTEGER" column="f_orign_method"/>

	    <result property="floorCode" jdbcType="VARCHAR" column="f_floor_code"/>
	</resultMap>

	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_id,f_orderdetail_id,f_receivor_id,f_receivor_name,f_receive_date,f_cigsmoke_quality,f_realout_quality,f_tray_rfid,f_local_code,f_local_rfid,f_status,f_batch_no,f_created_date,f_created_person_id,f_created_person,f_updated_date,f_updated_person_id,f_updated_person,f_sole_code,f_tray_code,f_ware_method,f_local_id,f_mater_code,f_ware_area,f_cigtype,f_subver_id,f_subver_name,f_is_delete
	</sql>

	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.warehouse.inventory.entity.OuttraylocalmapEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_ware_outtraylocalmap
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="orderdetailId!=null">f_orderdetail_id,</if>
			<if test="receivorId!=null">f_receivor_id,</if>
			<if test="receivorName!=null">f_receivor_name,</if>
			<if test="receiveDate!=null">f_receive_date,</if>
			<if test="cigsmokeQuality!=null">f_cigsmoke_quality,</if>
			<if test="realoutQuality!=null">f_realout_quality,</if>
			<if test="trayRfid!=null">f_tray_rfid,</if>
			<if test="localCode!=null">f_local_code,</if>
			<if test="localRfid!=null">f_local_rfid,</if>
			<if test="status!=null">f_status,</if>
			<if test="batchNo!=null">f_batch_no,</if>
			<if test="createdDate!=null">f_created_date,</if>
			<if test="createdPersonId!=null">f_created_person_id,</if>
			<if test="createdPerson!=null">f_created_person,</if>
			<if test="updatedDate!=null">f_updated_date,</if>
			<if test="updatedPersonId!=null">f_updated_person_id,</if>
			<if test="updatedPerson!=null">f_updated_person,</if>
			<if test="soleCode!=null">f_sole_code,</if>
			<if test="trayCode!=null">f_tray_code,</if>
			<if test="wareMethod!=null">f_ware_method,</if>
			<if test="localId!=null">f_local_id,</if>
			<if test="materCode!=null">f_mater_code,</if>
			<if test="wareArea!=null">f_ware_area,</if>
			<if test="cigtype!=null">f_cigtype,</if>
			<if test="subverId!=null">f_subver_id,</if>
			<if test="subverName!=null">f_subver_name,</if>
			<if test="isDelete!=null">f_is_delete</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="orderdetailId!=null">#{orderdetailId,jdbcType=INTEGER},</if>
			<if test="receivorId!=null">#{receivorId,jdbcType=INTEGER},</if>
			<if test="receivorName!=null">#{receivorName,jdbcType=VARCHAR},</if>
			<if test="receiveDate!=null">#{receiveDate,jdbcType=TIMESTAMP},</if>
			<if test="cigsmokeQuality!=null">#{cigsmokeQuality,jdbcType=DECIMAL},</if>
			<if test="realoutQuality!=null">#{realoutQuality,jdbcType=DECIMAL},</if>
			<if test="trayRfid!=null">#{trayRfid,jdbcType=VARCHAR},</if>
			<if test="localCode!=null">#{localCode,jdbcType=VARCHAR},</if>
			<if test="localRfid!=null">#{localRfid,jdbcType=VARCHAR},</if>
			<if test="status!=null">#{status,jdbcType=INTEGER},</if>
			<if test="batchNo!=null">#{batchNo,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">#{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">#{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">#{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">#{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">#{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">#{updatedPerson,jdbcType=VARCHAR},</if>
			<if test="soleCode!=null">#{soleCode,jdbcType=VARCHAR},</if>
			<if test="trayCode!=null">#{trayCode,jdbcType=VARCHAR},</if>
			<if test="wareMethod!=null">#{wareMethod,jdbcType=INTEGER},</if>
			<if test="localId!=null">#{localId,jdbcType=INTEGER},</if>
			<if test="materCode!=null">#{materCode,jdbcType=VARCHAR},</if>
			<if test="wareArea!=null">#{wareArea,jdbcType=INTEGER},</if>
			<if test="cigtype!=null">#{cigtype,jdbcType=INTEGER},</if>
			<if test="subverId!=null">#{subverId,jdbcType=INTEGER},</if>
			<if test="subverName!=null">#{subverName,jdbcType=VARCHAR},</if>
			<if test="isDelete!=null">#{isDelete,jdbcType=TINYINT}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO t_ware_outtraylocalmap
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="item.orderdetailId!=null">f_orderdetail_id,</if>
				<if test="item.receivorId!=null">f_receivor_id,</if>
				<if test="item.receivorName!=null">f_receivor_name,</if>
				<if test="item.receiveDate!=null">f_receive_date,</if>
				<if test="item.cigsmokeQuality!=null">f_cigsmoke_quality,</if>
				<if test="item.realoutQuality!=null">f_realout_quality,</if>
				<if test="item.trayRfid!=null">f_tray_rfid,</if>
				<if test="item.localCode!=null">f_local_code,</if>
				<if test="item.localRfid!=null">f_local_rfid,</if>
				<if test="item.status!=null">f_status,</if>
				<if test="item.batchNo!=null">f_batch_no,</if>
				<if test="item.createdDate!=null">f_created_date,</if>
				<if test="item.createdPersonId!=null">f_created_person_id,</if>
				<if test="item.createdPerson!=null">f_created_person,</if>
				<if test="item.updatedDate!=null">f_updated_date,</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id,</if>
				<if test="item.updatedPerson!=null">f_updated_person,</if>
				<if test="item.soleCode!=null">f_sole_code,</if>
				<if test="item.trayCode!=null">f_tray_code,</if>
				<if test="item.wareMethod!=null">f_ware_method,</if>
				<if test="item.localId!=null">f_local_id,</if>
				<if test="item.materCode!=null">f_mater_code,</if>
				<if test="item.wareArea!=null">f_ware_area,</if>
				<if test="item.cigtype!=null">f_cigtype,</if>
				<if test="item.subverId!=null">f_subver_id,</if>
				<if test="item.subverName!=null">f_subver_name,</if>
				<if test="item.isDelete!=null">f_is_delete</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
				<if test="item.orderdetailId!=null">#{item.orderdetailId,jdbcType=INTEGER},</if>
				<if test="item.receivorId!=null">#{item.receivorId,jdbcType=INTEGER},</if>
				<if test="item.receivorName!=null">#{item.receivorName,jdbcType=VARCHAR},</if>
				<if test="item.receiveDate!=null">#{item.receiveDate,jdbcType=TIMESTAMP},</if>
				<if test="item.cigsmokeQuality!=null">#{item.cigsmokeQuality,jdbcType=DECIMAL},</if>
				<if test="item.realoutQuality!=null">#{item.realoutQuality,jdbcType=DECIMAL},</if>
				<if test="item.trayRfid!=null">#{item.trayRfid,jdbcType=VARCHAR},</if>
				<if test="item.localCode!=null">#{item.localCode,jdbcType=VARCHAR},</if>
				<if test="item.localRfid!=null">#{item.localRfid,jdbcType=VARCHAR},</if>
				<if test="item.status!=null">#{item.status,jdbcType=INTEGER},</if>
				<if test="item.batchNo!=null">#{item.batchNo,jdbcType=VARCHAR},</if>
				<if test="item.createdDate!=null">#{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">#{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">#{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">#{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">#{item.updatedPersonId,jdbcType=INTEGER},</if>
				<if test="item.updatedPerson!=null">#{item.updatedPerson,jdbcType=VARCHAR},</if>
				<if test="item.soleCode!=null">#{item.soleCode,jdbcType=VARCHAR},</if>
				<if test="item.trayCode!=null">#{item.trayCode,jdbcType=VARCHAR},</if>
				<if test="item.wareMethod!=null">#{item.wareMethod,jdbcType=INTEGER},</if>
				<if test="item.localId!=null">#{item.localId,jdbcType=INTEGER},</if>
				<if test="item.materCode!=null">#{item.materCode,jdbcType=VARCHAR},</if>
				<if test="item.wareArea!=null">#{item.wareArea,jdbcType=INTEGER},</if>
				<if test="item.cigtype!=null">#{item.cigtype,jdbcType=INTEGER},</if>
				<if test="item.subverId!=null">#{item.subverId,jdbcType=INTEGER},</if>
				<if test="item.subverName!=null">#{item.subverName,jdbcType=VARCHAR},</if>
				<if test="item.isDelete!=null">#{item.isDelete,jdbcType=TINYINT}</if>
			</trim>
		</foreach>
	</insert>

	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.warehouse.inventory.entity.OuttraylocalmapEntity">
		UPDATE t_ware_outtraylocalmap
		<set>
			<if test="orderdetailId!=null">f_orderdetail_id = #{orderdetailId,jdbcType=INTEGER},</if>
			<if test="receivorId!=null">f_receivor_id = #{receivorId,jdbcType=INTEGER},</if>
			<if test="receivorName!=null">f_receivor_name = #{receivorName,jdbcType=VARCHAR},</if>
			<if test="receiveDate!=null">f_receive_date = #{receiveDate,jdbcType=TIMESTAMP},</if>
			<if test="cigsmokeQuality!=null">f_cigsmoke_quality = #{cigsmokeQuality,jdbcType=DECIMAL},</if>
			<if test="realoutQuality!=null">f_realout_quality = #{realoutQuality,jdbcType=DECIMAL},</if>
			<if test="trayRfid!=null">f_tray_rfid = #{trayRfid,jdbcType=VARCHAR},</if>
			<if test="localCode!=null">f_local_code = #{localCode,jdbcType=VARCHAR},</if>
			<if test="localRfid!=null">f_local_rfid = #{localRfid,jdbcType=VARCHAR},</if>
			<if test="status!=null">f_status = #{status,jdbcType=INTEGER},</if>
			<if test="batchNo!=null">f_batch_no = #{batchNo,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">f_created_date = #{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">f_created_person_id = #{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">f_created_person = #{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">f_updated_date = #{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">f_updated_person = #{updatedPerson,jdbcType=VARCHAR},</if>
			<if test="soleCode!=null">f_sole_code = #{soleCode,jdbcType=VARCHAR},</if>
			<if test="trayCode!=null">f_tray_code = #{trayCode,jdbcType=VARCHAR},</if>
			<if test="wareMethod!=null">f_ware_method = #{wareMethod,jdbcType=INTEGER},</if>
			<if test="localId!=null">f_local_id = #{localId,jdbcType=INTEGER},</if>
			<if test="materCode!=null">f_mater_code = #{materCode,jdbcType=VARCHAR},</if>
			<if test="wareArea!=null">f_ware_area = #{wareArea,jdbcType=INTEGER},</if>
			<if test="cigtype!=null">f_cigtype = #{cigtype,jdbcType=INTEGER},</if>
			<if test="subverId!=null">f_subver_id = #{subverId,jdbcType=INTEGER},</if>
			<if test="subverName!=null">f_subver_name = #{subverName,jdbcType=VARCHAR},</if>
			<if test="isDelete!=null">f_is_delete = #{isDelete,jdbcType=TINYINT}</if>
		</set>
		<where>
			f_id  = #{id}
		</where>
	</update>

	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_ware_outtraylocalmap
			<set>
				<if test="item.orderdetailId!=null">f_orderdetail_id = #{item.orderdetailId,jdbcType=INTEGER},</if>
				<if test="item.receivorId!=null">f_receivor_id = #{item.receivorId,jdbcType=INTEGER},</if>
				<if test="item.receivorName!=null">f_receivor_name = #{item.receivorName,jdbcType=VARCHAR},</if>
				<if test="item.receiveDate!=null">f_receive_date = #{item.receiveDate,jdbcType=TIMESTAMP},</if>
				<if test="item.cigsmokeQuality!=null">f_cigsmoke_quality = #{item.cigsmokeQuality,jdbcType=DECIMAL},</if>
				<if test="item.realoutQuality!=null">f_realout_quality = #{item.realoutQuality,jdbcType=DECIMAL},</if>
				<if test="item.trayRfid!=null">f_tray_rfid = #{item.trayRfid,jdbcType=VARCHAR},</if>
				<if test="item.localCode!=null">f_local_code = #{item.localCode,jdbcType=VARCHAR},</if>
				<if test="item.localRfid!=null">f_local_rfid = #{item.localRfid,jdbcType=VARCHAR},</if>
				<if test="item.status!=null">f_status = #{item.status,jdbcType=INTEGER},</if>
				<if test="item.batchNo!=null">f_batch_no = #{item.batchNo,jdbcType=VARCHAR},</if>
				<if test="item.createdDate!=null">f_created_date = #{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">f_created_person_id = #{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">f_created_person = #{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">f_updated_date = #{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id = #{item.updatedPersonId,jdbcType=INTEGER},</if>
				<if test="item.updatedPerson!=null">f_updated_person = #{item.updatedPerson,jdbcType=VARCHAR},</if>
				<if test="item.soleCode!=null">f_sole_code = #{item.soleCode,jdbcType=VARCHAR},</if>
				<if test="item.trayCode!=null">f_tray_code = #{item.trayCode,jdbcType=VARCHAR},</if>
				<if test="item.wareMethod!=null">f_ware_method = #{item.wareMethod,jdbcType=INTEGER},</if>
				<if test="item.localId!=null">f_local_id = #{item.localId,jdbcType=INTEGER},</if>
				<if test="item.materCode!=null">f_mater_code = #{item.materCode,jdbcType=VARCHAR},</if>
				<if test="item.wareArea!=null">f_ware_area = #{item.wareArea,jdbcType=INTEGER},</if>
				<if test="item.cigtype!=null">f_cigtype = #{item.cigtype,jdbcType=INTEGER},</if>
				<if test="item.subverId!=null">f_subver_id = #{item.subverId,jdbcType=INTEGER},</if>
				<if test="item.subverName!=null">f_subver_name = #{item.subverName,jdbcType=VARCHAR},</if>
				<if test="item.isDelete!=null">f_is_delete = #{item.isDelete,jdbcType=TINYINT}</if>
			</set>
			<where>
				f_id  = #{item.id}
			</where>
		</foreach>
	</update>


	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_ware_outtraylocalmap
		WHERE f_id  = #{id}
	</select>

	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_ware_outtraylocalmap WHERE f_id  = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_ware_outtraylocalmap WHERE f_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>


	<sql id="where">
		<where>
			1=1
			<if test="id!=null">AND t.f_id = #{id,jdbcType=INTEGER}</if>
			<if test="orderdetailId!=null">AND t.f_orderdetail_id = #{orderdetailId,jdbcType=INTEGER}</if>
			<if test="receivorId!=null">AND t.f_receivor_id = #{receivorId,jdbcType=INTEGER}</if>
			<if test="receivorName!=null and receivorName!=''">AND t.f_receivor_name = #{receivorName,jdbcType=VARCHAR}</if>
			<if test="receiveDate!=null">AND t.f_receive_date = #{receiveDate,jdbcType=TIMESTAMP}</if>
			<if test="cigsmokeQuality!=null">AND t.f_cigsmoke_quality = #{cigsmokeQuality,jdbcType=DECIMAL}</if>
			<if test="realoutQuality!=null">AND t.f_realout_quality = #{realoutQuality,jdbcType=DECIMAL}</if>
			<if test="trayRfid!=null and trayRfid!=''">AND t.f_tray_rfid = #{trayRfid,jdbcType=VARCHAR}</if>
			<if test="localCode!=null and localCode!=''">AND t.f_local_code = #{localCode,jdbcType=VARCHAR}</if>
			<if test="localRfid!=null and localRfid!=''">AND t.f_local_rfid = #{localRfid,jdbcType=VARCHAR}</if>
			<if test="status!=null">AND t.f_status = #{status,jdbcType=INTEGER}</if>
			<if test="batchNo!=null and batchNo!=''">AND t.f_batch_no = #{batchNo,jdbcType=VARCHAR}</if>
			<if test="createdDate!=null">AND t.f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
			<if test="createdPersonId!=null">AND t.f_created_person_id = #{createdPersonId,jdbcType=INTEGER}</if>
			<if test="createdPerson!=null and createdPerson!=''">AND t.f_created_person = #{createdPerson,jdbcType=VARCHAR}</if>
			<if test="updatedDate!=null">AND t.f_updated_date = #{updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="updatedPersonId!=null">AND t.f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER}</if>
			<if test="updatedPerson!=null and updatedPerson!=''">AND t.f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
			<if test="soleCode!=null and soleCode!=''">AND t.f_sole_code = #{soleCode,jdbcType=VARCHAR}</if>
			<if test="trayCode!=null and trayCode!=''">AND t.f_tray_code = #{trayCode,jdbcType=VARCHAR}</if>
			<if test="wareMethod!=null">AND t.f_ware_method = #{wareMethod,jdbcType=INTEGER}</if>
			<if test="localId!=null">AND t.f_local_id = #{localId,jdbcType=INTEGER}</if>
			<if test="materCode!=null and materCode!=''">AND t.f_mater_code = #{materCode,jdbcType=VARCHAR}</if>
			<if test="wareArea!=null">AND t.f_ware_area = #{wareArea,jdbcType=INTEGER}</if>
			<if test="cigtype!=null">AND t.f_cigtype = #{cigtype,jdbcType=INTEGER}</if>
			<if test="subverId!=null">AND t.f_subver_id = #{subverId,jdbcType=INTEGER}</if>
			<if test="subverName!=null and subverName!=''">AND t.f_subver_name = #{subverName,jdbcType=VARCHAR}</if>
			<if test="isDelete!=null">AND t.f_is_delete = #{isDelete,jdbcType=TINYINT}</if>
		</where>
	</sql>

	<sql id="queryFrom">
		FROM t_ware_outtraylocalmap
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			1=1
			<if test="whereCondition!=null">
				<if test="whereCondition.id!=null">AND t.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
				<if test="whereCondition.orderdetailId!=null">AND t.f_orderdetail_id = #{whereCondition.orderdetailId,jdbcType=INTEGER}</if>
				<if test="whereCondition.receivorId!=null">AND t.f_receivor_id = #{whereCondition.receivorId,jdbcType=INTEGER}</if>
				<if test="whereCondition.receivorName!=null and whereCondition.receivorName!=''">AND t.f_receivor_name like #{whereCondition.receivorNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.receiveDate!=null">AND t.f_receive_date = #{whereCondition.receiveDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.cigsmokeQuality!=null">AND t.f_cigsmoke_quality = #{whereCondition.cigsmokeQuality,jdbcType=DECIMAL}</if>
				<if test="whereCondition.realoutQuality!=null">AND t.f_realout_quality = #{whereCondition.realoutQuality,jdbcType=DECIMAL}</if>
				<if test="whereCondition.trayRfid!=null and whereCondition.trayRfid!=''">AND t.f_tray_rfid like #{whereCondition.trayRfidByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.localCode!=null and whereCondition.localCode!=''">AND t.f_local_code like #{whereCondition.localCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.localRfid!=null and whereCondition.localRfid!=''">AND t.f_local_rfid like #{whereCondition.localRfidByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.status!=null">AND t.f_status = #{whereCondition.status,jdbcType=INTEGER}</if>
				<if test="whereCondition.batchNo!=null and whereCondition.batchNo!=''">AND t.f_batch_no like #{whereCondition.batchNoByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.createdDate!=null">AND t.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.createdPersonId!=null">AND t.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.updatedDate!=null">AND t.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.updatedPersonId!=null">AND t.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.soleCode!=null and whereCondition.soleCode!=''">AND t.f_sole_code like #{whereCondition.soleCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.trayCode!=null and whereCondition.trayCode!=''">AND t.f_tray_code like #{whereCondition.trayCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.wareMethod!=null">AND t.f_ware_method = #{whereCondition.wareMethod,jdbcType=INTEGER}</if>
				<if test="whereCondition.localId!=null">AND t.f_local_id = #{whereCondition.localId,jdbcType=INTEGER}</if>
				<if test="whereCondition.materCode!=null and whereCondition.materCode!=''">AND t.f_mater_code like #{whereCondition.materCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.wareArea!=null">AND t.f_ware_area = #{whereCondition.wareArea,jdbcType=INTEGER}</if>
				<if test="whereCondition.cigtype!=null">AND t.f_cigtype = #{whereCondition.cigtype,jdbcType=INTEGER}</if>
				<if test="whereCondition.subverId!=null">AND t.f_subver_id = #{whereCondition.subverId,jdbcType=INTEGER}</if>
				<if test="whereCondition.subverName!=null and whereCondition.subverName!=''">AND t.f_subver_name like #{whereCondition.subverNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.isDelete!=null">AND t.f_is_delete = #{whereCondition.isDelete,jdbcType=TINYINT}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
				t.f_receivor_name like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_tray_rfid like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_local_code like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_local_rfid like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_batch_no like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_created_person like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_updated_person like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_sole_code like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_tray_code like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_mater_code like #{keyWordByLike,jdbcType=VARCHAR}  OR
				t.f_subver_name like #{keyWordByLike,jdbcType=VARCHAR}
				)
			</if>
			<if test="startTime!=null and startTime!=''">AND t.f_created_date &gt;= #{startTime}</if>
			<if test="endTime!=null and endTime!=''">AND t.f_created_date &lt;= #{endTime}</if>
		</where>
	</sql>

	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.warehouse.inventory.entity.OuttraylocalmapEntity" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="where" />
	</select>

	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
			resultMap="BaseResultMap">
		SELECT
		tt.f_descript AS descript,
		t.f_id,
		t.f_orderdetail_id,
		t.f_receivor_id,
		t.f_receivor_name,
		t.f_receive_date,
		t.f_cigsmoke_quality,
		t.f_realout_quality,
		t.f_tray_rfid,
		t.f_local_code,
		t.f_local_rfid,
		t.f_status,
		t.f_batch_no,
		t.f_created_date,
		t.f_created_person_id,
		t.f_created_person,
		t.f_updated_date,
		t.f_updated_person_id,
		t.f_updated_person,
		t.f_sole_code,
		t.f_tray_code,
		t.f_ware_method,
		t.f_local_id,
		t.f_mater_code,
		t.f_ware_area,
		t.f_cigtype,
		t.f_subver_id,
		t.f_subver_name,
		t.f_is_delete
		<include refid="queryFrom" /> t
		LEFT JOIN t_base_locationinfo tt ON t.f_local_id = tt.f_id
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
			parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>

	<!-- 按批次号查询记录 -->
	<select id="queryByBatchNo" parameterType="String" resultMap="BaseResultMap">
		SELECT t.*,
          (SELECT t2.f_descript FROM t_ware_outtraylocalmap as t1
          LEFT JOIN t_base_locationinfo as t2 on t1.f_local_code=t2.f_local_code
          WHERE t1.f_local_code=t.f_local_code LIMIT 1) as descript
		FROM t_ware_outtraylocalmap  t
		WHERE f_batch_no  = #{batchNo}
	</select>
	<!--计算 出库单需要预出库的量-->
	<select id="getcalculateoutoquality"  parameterType="long" resultMap="BaseResultMap">
		SELECT f_mater_code AS materCode,f_batch_no AS batchNo,SUM(f_realout_quality) AS calculateoutoquality FROM t_ware_outtraylocalmap WHERE f_orderdetail_id =  #{orderdetailId} GROUP BY f_batch_no
	</select>

	<!--根据明细id 获取对应库存货位-->
	<select id="queryLocalByorderdetailId" parameterType="long" resultMap="BaseResultMap">
		SELECT f_local_code FROM t_ware_outtraylocalmap WHERE f_orderdetail_id = #{orderdetailId}
	</select>
	<!--根据明细Id 删除对应出库货位-->
	<delete id="deleteByorderdetailId" parameterType="long">
		DELETE FROM t_ware_outtraylocalmap WHERE f_orderdetail_id = #{orderdetailId}
	</delete>

	<!--根据出库明细id 获取出库货位绑定列表-->
	<select id="querylocalmapbyorderdetailId" parameterType="long" resultMap="BaseResultMap">
		SELECT * FROM t_ware_outtraylocalmap WHERE f_orderdetail_id = #{orderdetailId}
	</select>

	<!--根据detail_id删除绑定信息-->
	<select id="deleteByOrderdetailId" parameterType="long">
		DELETE FROM t_ware_outtraylocalmap WHERE f_orderdetail_id = #{orderdetailId}
	</select>

	<!--根据soleCode获取出库货位信息-->
	<select id="getOuttraylocalmap" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM t_ware_outtraylocalmap WHERE f_tray_rfid = #{trayRfid,jdbcType=VARCHAR} and(f_status=0 OR f_status!=2) AND f_is_delete = 0
	</select>

	<!--根据soleCode修改出库货位状态-->
	<select id="updateOuttraylocalmapStatus" parameterType="string">
		UPDATE t_ware_outtraylocalmap SET f_status = 1 WHERE f_sole_code = #{soleCode,jdbcType=VARCHAR} AND f_is_delete = 0
	</select>

	<!--根据出库单id 判断该出库单对应的出库货位是否已出库完成-->
	<select id="querycountBymainorderId" parameterType="long" resultType="int">
		SELECT
			COUNT(t3.f_status)
		FROM
			t_ware_outorderdetail t1
		LEFT JOIN
			t_ware_outmainorder t2 ON t1.f_mainorder_id = t2.f_id
		LEFT JOIN
			t_ware_outtraylocalmap t3 ON t3.f_orderdetail_id = t1.f_id
		WHERE
			t1.f_mainorder_id = #{mainorderId} AND t3.f_status=0
	</select>


	<!-- 分页查询 -->
	<select id="queryByotdPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
			resultMap="BaseotdResultMap">
		SELECT
			o.f_order_number,
			o.f_shipment_number,
			o.f_shipment_date,
			o.f_plate_number,
			o.f_total_quality,
			o.f_delivery_date,
			o.f_transport_type,
			o.f_carrier,
			o.f_phone_number,
			o.f_carrier_unit,
			o.f_carrier_unit_code,
			o.f_reservation_date,
			o.f_shipment_remark,
			o.f_contract_number,
			o.f_contract_date,
			o.f_outbound_ware_code,
			o.f_outbound_ware,
			o.f_arrival_ware_code,
			o.f_arrival_ware,
			o.f_arrival_require,
			o.f_delivery_require,
			o.f_remark,
			o.f_out_complite_date,
			o.f_forward_unit,
			o.f_purchase_unit_code,
			o.f_purchase_unit,
			o.f_nc_ware_code,
			o.f_nc_ware,
			o.f_outchan_code,
			o.f_load_date,
			o.f_transport_code,
			o.f_is_delete,
			o.f_is_urgent,
			o.f_priority_level,
			o.f_orign_method,
			od.f_mainorder_id,
			od.f_mater_name,
			od.f_quality_box,
			od.f_price_notax,
			od.f_amount_notax,
			od.f_tax_rate,
			od.f_tax_amount,
			od.f_amount,
			od.f_mater_version,
			od.f_mater_cigbrand,
			odl.f_id,
			odl.f_orderdetail_id,
			odl.f_receivor_id,
			odl.f_receivor_name,
			odl.f_receive_date,
			odl.f_cigsmoke_quality,
			odl.f_realout_quality,
			odl.f_tray_rfid,
			odl.f_local_code,
			odl.f_local_rfid,
			odl.f_status,
			odl.f_batch_no,
			odl.f_created_date,
			odl.f_created_person_id,
			odl.f_created_person,
			odl.f_updated_date,
			odl.f_updated_person_id,
			odl.f_updated_person,
			odl.f_sole_code,
			odl.f_tray_code,
			odl.f_ware_method,
			odl.f_local_id,
			odl.f_mater_code,
			odl.f_ware_area,
			odl.f_cigtype,
			o.f_forward_unit_code,
		    loe.f_status as locallStatus,
		    tre.f_status as trayStatus
		FROM
			t_ware_outmainorder AS o
		LEFT JOIN t_ware_outorderdetail AS od ON o.f_id = od.f_mainorder_id
		LEFT JOIN t_ware_outtraylocalmap AS odl ON od.f_id = odl.f_orderdetail_id
		LEFT JOIN t_base_locationinfo As bl on bl.f_local_code=odl.f_local_code
		LEFT JOIN t_base_areainfo as ba on ba.f_id=bl.f_area_id
		LEFT JOIN t_base_floorinfo as bf on bf.f_id=ba.f_floor_id
	    LEFT JOIN t_ware_locallabelexception as loe on loe.f_local_id = odl.f_local_id
	    LEFT JOIN t_ware_traylabelexception as tre on tre.f_tray_rfid = odl.f_tray_rfid
        <where>
            (odl.f_status != 2 OR odl.f_status IS NULL) and
			bf.f_floor_code = #{whereCondition.floorCode}
		</where>
		<choose>
			<when test="orderField==null">
				ORDER BY odl.f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryotdCount" resultType="int"
			parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)
		FROM
			t_ware_outmainorder AS o
		LEFT JOIN t_ware_outorderdetail AS od ON o.f_id = od.f_mainorder_id
		LEFT JOIN t_ware_outtraylocalmap AS odl ON od.f_id = odl.f_orderdetail_id
		LEFT JOIN t_base_locationinfo As bl on bl.f_local_code=odl.f_local_code
		LEFT JOIN t_base_areainfo as ba on ba.f_id=bl.f_area_id
		LEFT JOIN t_base_floorinfo as bf on bf.f_id=ba.f_floor_id
        LEFT JOIN t_ware_locallabelexception as loe on loe.f_local_id = odl.f_local_id
        LEFT JOIN t_ware_traylabelexception as tre on tre.f_tray_rfid = odl.f_tray_rfid
		<where>
			(odl.f_status != 2 OR odl.f_status IS NULL) and
			bf.f_floor_code = #{whereCondition.floorCode}
		</where>
	</select>

	<!--根据明细id 逻辑删除出库货位绑定信息-->
	<update id="updateisDeleteBydetailId" parameterType="long">
		UPDATE t_ware_outtraylocalmap SET f_is_delete = 1 WHERE f_orderdetail_id = #{orderdetailId}
	</update>


	<!--根据货位id 更新出库货位绑定表 中 货位FRID-->
	<update id="updateoutlampBylocalrfid" >
		UPDATE t_ware_outtraylocalmap SET f_local_rfid = #{1} WHERE f_local_rfid = #{0} AND f_is_delete =0 AND (f_status=0 OR f_status=2)
	</update>
</mapper>

