<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.warehouse.manage.mapper.DevLedMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.warehouse.manage.entity.DevLedEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="factory" jdbcType="VARCHAR" column="f_factory"/>
		<result property="brand" jdbcType="VARCHAR" column="f_brand"/>
		<result property="spec" jdbcType="VARCHAR" column="f_spec"/>
		<result property="size" jdbcType="VARCHAR" column="f_size"/>
		<result property="serialNum" jdbcType="VARCHAR" column="f_serial_num"/>
		<result property="passwayId" jdbcType="INTEGER" column="f_passway_id"/>
		<result property="passwayNo" jdbcType="VARCHAR" column="f_passway_no"/>
		<result property="resolvRate" jdbcType="VARCHAR" column="f_resolv_rate"/>
		<result property="productDate" jdbcType="TIMESTAMP" column="f_product_date"/>
		<result property="charge" jdbcType="VARCHAR" column="f_charge"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPerson" jdbcType="VARCHAR" column="f_created_person"/>
		<result property="updatedDate" jdbcType="TIMESTAMP" column="f_updated_date"/>
		<result property="updatedPersonId" jdbcType="INTEGER" column="f_updated_person_id"/>
		<result property="updatedPerson" jdbcType="VARCHAR" column="f_updated_person"/>
	</resultMap>
	
	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_id,f_factory,f_brand,f_spec,f_size,f_serial_num,f_passway_id,f_passway_no,f_resolv_rate,f_product_date,f_charge,f_created_date,f_created_person_id,f_created_person,f_updated_date,f_updated_person_id,f_updated_person
	</sql>
			
	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.warehouse.manage.entity.DevLedEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_dev_led
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="factory!=null">f_factory,</if>
			<if test="brand!=null">f_brand,</if>
			<if test="spec!=null">f_spec,</if>
			<if test="size!=null">f_size,</if>
			<if test="serialNum!=null">f_serial_num,</if>
			<if test="passwayId!=null">f_passway_id,</if>
			<if test="passwayNo!=null">f_passway_no,</if>
			<if test="resolvRate!=null">f_resolv_rate,</if>
			<if test="productDate!=null">f_product_date,</if>
			<if test="charge!=null">f_charge,</if>
			<if test="createdDate!=null">f_created_date,</if>
			<if test="createdPersonId!=null">f_created_person_id,</if>
			<if test="createdPerson!=null">f_created_person,</if>
			<if test="updatedDate!=null">f_updated_date,</if>
			<if test="updatedPersonId!=null">f_updated_person_id,</if>
			<if test="updatedPerson!=null">f_updated_person</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="factory!=null">#{factory,jdbcType=VARCHAR},</if>
			<if test="brand!=null">#{brand,jdbcType=VARCHAR},</if>
			<if test="spec!=null">#{spec,jdbcType=VARCHAR},</if>
			<if test="size!=null">#{size,jdbcType=VARCHAR},</if>
			<if test="serialNum!=null">#{serialNum,jdbcType=VARCHAR},</if>
			<if test="passwayId!=null">#{passwayId,jdbcType=INTEGER},</if>
			<if test="passwayNo!=null">#{passwayNo,jdbcType=VARCHAR},</if>
			<if test="resolvRate!=null">#{resolvRate,jdbcType=VARCHAR},</if>
			<if test="productDate!=null">#{productDate,jdbcType=TIMESTAMP},</if>
			<if test="charge!=null">#{charge,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">#{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">#{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">#{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">#{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">#{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">#{updatedPerson,jdbcType=VARCHAR}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO t_dev_led
			<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="item.factory!=null">f_factory,</if>
					<if test="item.brand!=null">f_brand,</if>
					<if test="item.spec!=null">f_spec,</if>
					<if test="item.size!=null">f_size,</if>
					<if test="item.serialNum!=null">f_serial_num,</if>
					<if test="item.passwayId!=null">f_passway_id,</if>
					<if test="item.passwayNo!=null">f_passway_no,</if>
					<if test="item.resolvRate!=null">f_resolv_rate,</if>
					<if test="item.productDate!=null">f_product_date,</if>
					<if test="item.charge!=null">f_charge,</if>
					<if test="item.createdDate!=null">f_created_date,</if>
					<if test="item.createdPersonId!=null">f_created_person_id,</if>
					<if test="item.createdPerson!=null">f_created_person,</if>
					<if test="item.updatedDate!=null">f_updated_date,</if>
					<if test="item.updatedPersonId!=null">f_updated_person_id,</if>
					<if test="item.updatedPerson!=null">f_updated_person</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
					<if test="item.factory!=null">#{item.factory,jdbcType=VARCHAR},</if>
					<if test="item.brand!=null">#{item.brand,jdbcType=VARCHAR},</if>
					<if test="item.spec!=null">#{item.spec,jdbcType=VARCHAR},</if>
					<if test="item.size!=null">#{item.size,jdbcType=VARCHAR},</if>
					<if test="item.serialNum!=null">#{item.serialNum,jdbcType=VARCHAR},</if>
					<if test="item.passwayId!=null">#{item.passwayId,jdbcType=INTEGER},</if>
					<if test="item.passwayNo!=null">#{item.passwayNo,jdbcType=VARCHAR},</if>
					<if test="item.resolvRate!=null">#{item.resolvRate,jdbcType=VARCHAR},</if>
					<if test="item.productDate!=null">#{item.productDate,jdbcType=TIMESTAMP},</if>
					<if test="item.charge!=null">#{item.charge,jdbcType=VARCHAR},</if>
					<if test="item.createdDate!=null">#{item.createdDate,jdbcType=TIMESTAMP},</if>
					<if test="item.createdPersonId!=null">#{item.createdPersonId,jdbcType=INTEGER},</if>
					<if test="item.createdPerson!=null">#{item.createdPerson,jdbcType=VARCHAR},</if>
					<if test="item.updatedDate!=null">#{item.updatedDate,jdbcType=TIMESTAMP},</if>
					<if test="item.updatedPersonId!=null">#{item.updatedPersonId,jdbcType=INTEGER},</if>
					<if test="item.updatedPerson!=null">#{item.updatedPerson,jdbcType=VARCHAR}</if>
			</trim>
		</foreach>
	</insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.warehouse.manage.entity.DevLedEntity">
		UPDATE t_dev_led 
		<set>
			<if test="factory!=null">f_factory = #{factory,jdbcType=VARCHAR},</if>
			<if test="brand!=null">f_brand = #{brand,jdbcType=VARCHAR},</if>
			<if test="spec!=null">f_spec = #{spec,jdbcType=VARCHAR},</if>
			<if test="size!=null">f_size = #{size,jdbcType=VARCHAR},</if>
			<if test="serialNum!=null">f_serial_num = #{serialNum,jdbcType=VARCHAR},</if>
			<if test="passwayId!=null">f_passway_id = #{passwayId,jdbcType=INTEGER},</if>
			<if test="passwayNo!=null">f_passway_no = #{passwayNo,jdbcType=VARCHAR},</if>
			<if test="resolvRate!=null">f_resolv_rate = #{resolvRate,jdbcType=VARCHAR},</if>
			<if test="productDate!=null">f_product_date = #{productDate,jdbcType=TIMESTAMP},</if>
			<if test="charge!=null">f_charge = #{charge,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">f_created_date = #{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">f_created_person_id = #{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">f_created_person = #{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">f_updated_date = #{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
		</set>
		<where> 
			f_id  = #{id}
		</where>				
	</update>
	
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_dev_led 
			<set>
				<if test="item.factory!=null">f_factory = #{item.factory,jdbcType=VARCHAR},</if>
				<if test="item.brand!=null">f_brand = #{item.brand,jdbcType=VARCHAR},</if>
				<if test="item.spec!=null">f_spec = #{item.spec,jdbcType=VARCHAR},</if>
				<if test="item.size!=null">f_size = #{item.size,jdbcType=VARCHAR},</if>
				<if test="item.serialNum!=null">f_serial_num = #{item.serialNum,jdbcType=VARCHAR},</if>
				<if test="item.passwayId!=null">f_passway_id = #{item.passwayId,jdbcType=INTEGER},</if>
				<if test="item.passwayNo!=null">f_passway_no = #{item.passwayNo,jdbcType=VARCHAR},</if>
				<if test="item.resolvRate!=null">f_resolv_rate = #{item.resolvRate,jdbcType=VARCHAR},</if>
				<if test="item.productDate!=null">f_product_date = #{item.productDate,jdbcType=TIMESTAMP},</if>
				<if test="item.charge!=null">f_charge = #{item.charge,jdbcType=VARCHAR},</if>
				<if test="item.createdDate!=null">f_created_date = #{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">f_created_person_id = #{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">f_created_person = #{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">f_updated_date = #{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id = #{item.updatedPersonId,jdbcType=INTEGER},</if>
				<if test="item.updatedPerson!=null">f_updated_person = #{item.updatedPerson,jdbcType=VARCHAR}</if>
			</set>
			<where> 
				f_id  = #{item.id}
			</where>	
		</foreach>
	</update>	
	
	
	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_dev_led 
		WHERE f_id  = #{id}	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_dev_led WHERE f_id  = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_dev_led WHERE f_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	
	
	<sql id="where">
		<where>
			1=1
			<if test="id!=null">AND t.f_id = #{id,jdbcType=INTEGER}</if>
			<if test="factory!=null and factory!=''">AND t.f_factory = #{factory,jdbcType=VARCHAR}</if>
			<if test="brand!=null and brand!=''">AND t.f_brand = #{brand,jdbcType=VARCHAR}</if>
			<if test="spec!=null and spec!=''">AND t.f_spec = #{spec,jdbcType=VARCHAR}</if>
			<if test="size!=null and size!=''">AND t.f_size = #{size,jdbcType=VARCHAR}</if>
			<if test="serialNum!=null and serialNum!=''">AND t.f_serial_num = #{serialNum,jdbcType=VARCHAR}</if>
			<if test="passwayId!=null">AND t.f_passway_id = #{passwayId,jdbcType=INTEGER}</if>
			<if test="passwayNo!=null and passwayNo!=''">AND t.f_passway_no = #{passwayNo,jdbcType=VARCHAR}</if>
			<if test="resolvRate!=null and resolvRate!=''">AND t.f_resolv_rate = #{resolvRate,jdbcType=VARCHAR}</if>
			<if test="productDate!=null">AND t.f_product_date = #{productDate,jdbcType=TIMESTAMP}</if>
			<if test="charge!=null and charge!=''">AND t.f_charge = #{charge,jdbcType=VARCHAR}</if>
			<if test="createdDate!=null">AND t.f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
			<if test="createdPersonId!=null">AND t.f_created_person_id = #{createdPersonId,jdbcType=INTEGER}</if>
			<if test="createdPerson!=null and createdPerson!=''">AND t.f_created_person = #{createdPerson,jdbcType=VARCHAR}</if>
			<if test="updatedDate!=null">AND t.f_updated_date = #{updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="updatedPersonId!=null">AND t.f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER}</if>
			<if test="updatedPerson!=null and updatedPerson!=''">AND t.f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
		</where>
	</sql>
	
	<sql id="queryFrom">
		FROM t_dev_led
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			1=1
			<if test="whereCondition!=null">
				<if test="whereCondition.id!=null">AND t.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
				<if test="whereCondition.factory!=null and whereCondition.factory!=''">AND t.f_factory like #{whereCondition.factoryByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.brand!=null and whereCondition.brand!=''">AND t.f_brand like #{whereCondition.brandByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.spec!=null and whereCondition.spec!=''">AND t.f_spec like #{whereCondition.specByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.size!=null and whereCondition.size!=''">AND t.f_size like #{whereCondition.sizeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.serialNum!=null and whereCondition.serialNum!=''">AND t.f_serial_num like #{whereCondition.serialNumByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.passwayId!=null">AND t.f_passway_id = #{whereCondition.passwayId,jdbcType=INTEGER}</if>
				<if test="whereCondition.passwayNo!=null and whereCondition.passwayNo!=''">AND t.f_passway_no like #{whereCondition.passwayNoByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.resolvRate!=null and whereCondition.resolvRate!=''">AND t.f_resolv_rate like #{whereCondition.resolvRateByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.productDate!=null">AND t.f_product_date = #{whereCondition.productDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.charge!=null and whereCondition.charge!=''">AND t.f_charge like #{whereCondition.chargeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.createdDate!=null">AND t.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.createdPersonId!=null">AND t.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.updatedDate!=null">AND t.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.updatedPersonId!=null">AND t.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
						t.f_factory like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_brand like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_spec like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_size like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_serial_num like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_passway_no like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_resolv_rate like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_charge like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_created_person like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_updated_person like #{keyWordByLike,jdbcType=VARCHAR} 
					)
			</if>
			<if test="startTime!=null and startTime!=''">AND t.f_created_date &gt;= #{startTime}</if>
			<if test="endTime!=null and endTime!=''">AND t.f_created_date &lt;= #{endTime}</if>
		</where>
	</sql>
	
	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.warehouse.manage.entity.DevLedEntity" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="where" />
	</select>
	
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
		resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
		parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)  
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>
</mapper>

