<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.warehouse.manage.mapper.LocationinfoMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.warehouse.manage.entity.LocationinfoEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="areaId" jdbcType="INTEGER" column="f_area_id"/>
		<result property="areaBlock" jdbcType="INTEGER" column="f_area_block"/>
		<result property="areaRow" jdbcType="INTEGER" column="f_area_row"/>
		<result property="areaNum" jdbcType="INTEGER" column="f_area_num"/>
		<result property="upDown" jdbcType="INTEGER" column="f_up_down"/>
		<result property="status" jdbcType="INTEGER" column="f_status"/>
		<result property="localCode" jdbcType="VARCHAR" column="f_local_code"/>
		<result property="localRfid" jdbcType="VARCHAR" column="f_local_rfid"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPerson" jdbcType="VARCHAR" column="f_created_person"/>
		<result property="updatedDate" jdbcType="TIMESTAMP" column="f_updated_date"/>
		<result property="updatedPersonId" jdbcType="INTEGER" column="f_updated_person_id"/>
		<result property="updatedPerson" jdbcType="VARCHAR" column="f_updated_person"/>
		<result property="descript" jdbcType="VARCHAR" column="f_descript"/>
		<result property="groupNo" jdbcType="INTEGER" column="f_group_no"/>
		<result property="isonthewall" jdbcType="INTEGER" column="f_isonthewall"/>
		
		<result property="areaCode" jdbcType="VARCHAR" column="f_area_code" />
		<result property="floorCode" jdbcType="VARCHAR" column="f_floor_code" />
		<result property="floorName" jdbcType="VARCHAR" column="f_floor_name" />
		<result property="floorAreaCode" jdbcType="VARCHAR" column="f_floor_area_code" />
	</resultMap>
	
	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_id,f_area_id,f_area_block,f_area_row,f_area_num,f_up_down,f_status,f_local_code,f_local_rfid,f_created_date,f_created_person_id,f_created_person,f_updated_date,f_updated_person_id,f_updated_person,f_descript,f_group_no,f_isonthewall
	</sql>
			
	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_base_locationinfo
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="areaId!=null">f_area_id,</if>
			<if test="areaBlock!=null">f_area_block,</if>
			<if test="areaRow!=null">f_area_row,</if>
			<if test="areaNum!=null">f_area_num,</if>
			<if test="upDown!=null">f_up_down,</if>
			<if test="status!=null">f_status,</if>
			<if test="localCode!=null">f_local_code,</if>
			<if test="localRfid!=null">f_local_rfid,</if>
			<if test="createdDate!=null">f_created_date,</if>
			<if test="createdPersonId!=null">f_created_person_id,</if>
			<if test="createdPerson!=null">f_created_person,</if>
			<if test="updatedDate!=null">f_updated_date,</if>
			<if test="updatedPersonId!=null">f_updated_person_id,</if>
			<if test="updatedPerson!=null">f_updated_person,</if>
			<if test="descript!=null">f_descript,</if>
			<if test="groupNo!=null">f_group_no,</if>
			<if test="isonthewall!=null">f_isonthewall</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="areaId!=null">#{areaId,jdbcType=INTEGER},</if>
			<if test="areaBlock!=null">#{areaBlock,jdbcType=INTEGER},</if>
			<if test="areaRow!=null">#{areaRow,jdbcType=INTEGER},</if>
			<if test="areaNum!=null">#{areaNum,jdbcType=INTEGER},</if>
			<if test="upDown!=null">#{upDown,jdbcType=INTEGER},</if>
			<if test="status!=null">#{status,jdbcType=INTEGER},</if>
			<if test="localCode!=null">#{localCode,jdbcType=VARCHAR},</if>
			<if test="localRfid!=null">#{localRfid,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">#{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">#{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">#{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">#{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">#{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">#{updatedPerson,jdbcType=VARCHAR},</if>
			<if test="descript!=null">#{descript,jdbcType=VARCHAR},</if>
			<if test="groupNo!=null">#{groupNo,jdbcType=INTEGER},</if>
			<if test="isonthewall!=null">#{isonthewall,jdbcType=INTEGER}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO t_base_locationinfo
			<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="item.areaId!=null">f_area_id,</if>
					<if test="item.areaBlock!=null">f_area_block,</if>
					<if test="item.areaRow!=null">f_area_row,</if>
					<if test="item.areaNum!=null">f_area_num,</if>
					<if test="item.upDown!=null">f_up_down,</if>
					<if test="item.status!=null">f_status,</if>
					<if test="item.localCode!=null">f_local_code,</if>
					<if test="item.localRfid!=null">f_local_rfid,</if>
					<if test="item.createdDate!=null">f_created_date,</if>
					<if test="item.createdPersonId!=null">f_created_person_id,</if>
					<if test="item.createdPerson!=null">f_created_person,</if>
					<if test="item.updatedDate!=null">f_updated_date,</if>
					<if test="item.updatedPersonId!=null">f_updated_person_id,</if>
					<if test="item.updatedPerson!=null">f_updated_person,</if>
					<if test="item.descript!=null">f_descript,</if>
					<if test="item.groupNo!=null">f_group_no,</if>
					<if test="item.isonthewall!=null">f_isonthewall</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
					<if test="item.areaId!=null">#{item.areaId,jdbcType=INTEGER},</if>
					<if test="item.areaBlock!=null">#{item.areaBlock,jdbcType=INTEGER},</if>
					<if test="item.areaRow!=null">#{item.areaRow,jdbcType=INTEGER},</if>
					<if test="item.areaNum!=null">#{item.areaNum,jdbcType=INTEGER},</if>
					<if test="item.upDown!=null">#{item.upDown,jdbcType=INTEGER},</if>
					<if test="item.status!=null">#{item.status,jdbcType=INTEGER},</if>
					<if test="item.localCode!=null">#{item.localCode,jdbcType=VARCHAR},</if>
					<if test="item.localRfid!=null">#{item.localRfid,jdbcType=VARCHAR},</if>
					<if test="item.createdDate!=null">#{item.createdDate,jdbcType=TIMESTAMP},</if>
					<if test="item.createdPersonId!=null">#{item.createdPersonId,jdbcType=INTEGER},</if>
					<if test="item.createdPerson!=null">#{item.createdPerson,jdbcType=VARCHAR},</if>
					<if test="item.updatedDate!=null">#{item.updatedDate,jdbcType=TIMESTAMP},</if>
					<if test="item.updatedPersonId!=null">#{item.updatedPersonId,jdbcType=INTEGER},</if>
					<if test="item.updatedPerson!=null">#{item.updatedPerson,jdbcType=VARCHAR},</if>
					<if test="item.descript!=null">#{item.descript,jdbcType=VARCHAR},</if>
					<if test="item.groupNo!=null">#{item.groupNo,jdbcType=INTEGER},</if>
					<if test="item.isonthewall!=null">#{item.isonthewall,jdbcType=INTEGER}</if>
			</trim>
		</foreach>
	</insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity">
		UPDATE t_base_locationinfo 
		<set>
			<if test="areaId!=null">f_area_id = #{areaId,jdbcType=INTEGER},</if>
			<if test="areaBlock!=null">f_area_block = #{areaBlock,jdbcType=INTEGER},</if>
			<if test="areaRow!=null">f_area_row = #{areaRow,jdbcType=INTEGER},</if>
			<if test="areaNum!=null">f_area_num = #{areaNum,jdbcType=INTEGER},</if>
			<if test="upDown!=null">f_up_down = #{upDown,jdbcType=INTEGER},</if>
			<if test="status!=null">f_status = #{status,jdbcType=INTEGER},</if>
			<if test="localCode!=null">f_local_code = #{localCode,jdbcType=VARCHAR},</if>
			<if test="localRfid!=null">f_local_rfid = #{localRfid,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">f_created_date = #{createdDate,jdbcType=TIMESTAMP},</if>
			<if test="createdPersonId!=null">f_created_person_id = #{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPerson!=null">f_created_person = #{createdPerson,jdbcType=VARCHAR},</if>
			<if test="updatedDate!=null">f_updated_date = #{updatedDate,jdbcType=TIMESTAMP},</if>
			<if test="updatedPersonId!=null">f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER},</if>
			<if test="updatedPerson!=null">f_updated_person = #{updatedPerson,jdbcType=VARCHAR},</if>
			<if test="descript!=null">f_descript = #{descript,jdbcType=VARCHAR},</if>
			<if test="groupNo!=null">f_group_no = #{groupNo,jdbcType=INTEGER},</if>
			<if test="isonthewall!=null">f_isonthewall = #{isonthewall,jdbcType=INTEGER}</if>
		</set>
		<where> 
			f_id  = #{id}
		</where>				
	</update>
	
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_base_locationinfo 
			<set>
				<if test="item.areaId!=null">f_area_id = #{item.areaId,jdbcType=INTEGER},</if>
				<if test="item.areaBlock!=null">f_area_block = #{item.areaBlock,jdbcType=INTEGER},</if>
				<if test="item.areaRow!=null">f_area_row = #{item.areaRow,jdbcType=INTEGER},</if>
				<if test="item.areaNum!=null">f_area_num = #{item.areaNum,jdbcType=INTEGER},</if>
				<if test="item.upDown!=null">f_up_down = #{item.upDown,jdbcType=INTEGER},</if>
				<if test="item.status!=null">f_status = #{item.status,jdbcType=INTEGER},</if>
				<if test="item.localCode!=null">f_local_code = #{item.localCode,jdbcType=VARCHAR},</if>
				<if test="item.localRfid!=null">f_local_rfid = #{item.localRfid,jdbcType=VARCHAR},</if>
				<if test="item.createdDate!=null">f_created_date = #{item.createdDate,jdbcType=TIMESTAMP},</if>
				<if test="item.createdPersonId!=null">f_created_person_id = #{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPerson!=null">f_created_person = #{item.createdPerson,jdbcType=VARCHAR},</if>
				<if test="item.updatedDate!=null">f_updated_date = #{item.updatedDate,jdbcType=TIMESTAMP},</if>
				<if test="item.updatedPersonId!=null">f_updated_person_id = #{item.updatedPersonId,jdbcType=INTEGER},</if>
				<if test="item.updatedPerson!=null">f_updated_person = #{item.updatedPerson,jdbcType=VARCHAR},</if>
				<if test="item.descript!=null">f_descript = #{item.descript,jdbcType=VARCHAR},</if>
				<if test="item.groupNo!=null">f_group_no = #{item.groupNo,jdbcType=INTEGER},</if>
				<if test="item.isonthewall!=null">f_isonthewall = #{item.isonthewall,jdbcType=INTEGER}</if>
			</set>
			<where> 
				f_id  = #{item.id}
			</where>	
		</foreach>
	</update>	
	
	
	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_base_locationinfo 
		WHERE f_id  = #{id}	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_base_locationinfo WHERE f_id  = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_base_locationinfo WHERE f_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	
	
	<sql id="where">
		<where>
			1=1
			<if test="id!=null">AND t.f_id = #{id,jdbcType=INTEGER}</if>
			<if test="areaId!=null">AND t.f_area_id = #{areaId,jdbcType=INTEGER}</if>
			<if test="areaBlock!=null">AND t.f_area_block = #{areaBlock,jdbcType=INTEGER}</if>
			<if test="areaRow!=null">AND t.f_area_row = #{areaRow,jdbcType=INTEGER}</if>
			<if test="areaNum!=null">AND t.f_area_num = #{areaNum,jdbcType=INTEGER}</if>
			<if test="upDown!=null">AND t.f_up_down = #{upDown,jdbcType=INTEGER}</if>
			<if test="status!=null">AND t.f_status = #{status,jdbcType=INTEGER}</if>
			<if test="localCode!=null and localCode!=''">AND t.f_local_code = #{localCode,jdbcType=VARCHAR}</if>
			<if test="localRfid!=null and localRfid!=''">AND t.f_local_rfid = #{localRfid,jdbcType=VARCHAR}</if>
			<if test="createdDate!=null">AND t.f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
			<if test="createdPersonId!=null">AND t.f_created_person_id = #{createdPersonId,jdbcType=INTEGER}</if>
			<if test="createdPerson!=null and createdPerson!=''">AND t.f_created_person = #{createdPerson,jdbcType=VARCHAR}</if>
			<if test="updatedDate!=null">AND t.f_updated_date = #{updatedDate,jdbcType=TIMESTAMP}</if>
			<if test="updatedPersonId!=null">AND t.f_updated_person_id = #{updatedPersonId,jdbcType=INTEGER}</if>
			<if test="updatedPerson!=null and updatedPerson!=''">AND t.f_updated_person = #{updatedPerson,jdbcType=VARCHAR}</if>
			<if test="descript!=null and descript!=''">AND t.f_descript = #{descript,jdbcType=VARCHAR}</if>
			<if test="groupNo!=null">AND t.f_group_no = #{groupNo,jdbcType=INTEGER}</if>
			<if test="isonthewall!=null">AND t.f_isonthewall = #{isonthewall,jdbcType=INTEGER}</if>
		</where>
	</sql>
	
	<sql id="queryFrom">
		FROM t_base_locationinfo
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			1=1
			<if test="whereCondition!=null">
				<if test="whereCondition.id!=null">AND t.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
				<if test="whereCondition.areaId!=null">AND t.f_area_id = #{whereCondition.areaId,jdbcType=INTEGER}</if>
				<if test="whereCondition.areaBlock!=null">AND t.f_area_block = #{whereCondition.areaBlock,jdbcType=INTEGER}</if>
				<if test="whereCondition.areaRow!=null">AND t.f_area_row = #{whereCondition.areaRow,jdbcType=INTEGER}</if>
				<if test="whereCondition.areaNum!=null">AND t.f_area_num = #{whereCondition.areaNum,jdbcType=INTEGER}</if>
				<if test="whereCondition.upDown!=null">AND t.f_up_down = #{whereCondition.upDown,jdbcType=INTEGER}</if>
				<if test="whereCondition.status!=null">AND t.f_status = #{whereCondition.status,jdbcType=INTEGER}</if>
				<if test="whereCondition.localCode!=null and whereCondition.localCode!=''">AND t.f_local_code like #{whereCondition.localCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.localRfid!=null and whereCondition.localRfid!=''">AND t.f_local_rfid like #{whereCondition.localRfidByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.createdDate!=null">AND t.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.createdPersonId!=null">AND t.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createdPerson!=null and whereCondition.createdPerson!=''">AND t.f_created_person like #{whereCondition.createdPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.updatedDate!=null">AND t.f_updated_date = #{whereCondition.updatedDate,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.updatedPersonId!=null">AND t.f_updated_person_id = #{whereCondition.updatedPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.updatedPerson!=null and whereCondition.updatedPerson!=''">AND t.f_updated_person like #{whereCondition.updatedPersonByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.descript!=null and whereCondition.descript!=''">AND t.f_descript like #{whereCondition.descriptByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.groupNo!=null">AND t.f_group_no = #{whereCondition.groupNo,jdbcType=INTEGER}</if>
				<if test="whereCondition.isonthewall!=null">AND t.f_isonthewall = #{whereCondition.isonthewall,jdbcType=INTEGER}</if>
				<if test="whereCondition.floorCode!=null and whereCondition.floorCode!=''">AND t3.f_floor_code = #{whereCondition.floorCode,jdbcType=VARCHAR}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
						t.f_local_code like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_local_rfid like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_created_person like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_updated_person like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_descript like #{keyWordByLike,jdbcType=VARCHAR} 
					)
			</if>
			<if test="startTime!=null and startTime!=''">AND t.f_created_date &gt;= #{startTime}</if>
			<if test="endTime!=null and endTime!=''">AND t.f_created_date &lt;= #{endTime}</if>
		</where>
	</sql>
	
	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity" resultMap="BaseResultMap">
		<!-- SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t -->
		SELECT
		t3.f_floor_name,
		t3.f_floor_code,
		t2.f_area_code,
		t2.f_floor_area_code,
		t.*
		FROM
		t_base_locationinfo t
		LEFT JOIN t_base_areainfo t2 ON t.f_area_id =t2.f_id
		LEFT JOIN t_base_floorinfo t3 ON t2.f_floor_id = t3.f_id 
		<include refid="where" />
		ORDER BY t.f_local_code 
	</select>
	
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
		resultMap="BaseResultMap">
		SELECT
		t3.f_floor_name,
		t3.f_floor_code,
		t2.f_area_code,
		t2.f_floor_area_code,
		t.*
		FROM
		t_base_locationinfo t
		LEFT JOIN t_base_areainfo t2 ON t.f_area_id =t2.f_id
		LEFT JOIN t_base_floorinfo t3 ON t2.f_floor_id = t3.f_id
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
		parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)
		<include refid="queryFrom" />
		t
		<include refid="whereForLike" />
	</select>
	<!--判断重复-->
	<select id="checklocationcode" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM  t_base_locationinfo WHERE f_local_code = #{localCode,jdbcType=VARCHAR}
	</select>

	<!--根据RFID判断 FPID 的重复个数-->
	<select id="checkRFID" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM  t_base_locationinfo WHERE f_local_rfid = #{localRfid,jdbcType=VARCHAR}
	</select>

	<!--查询所有货位-->
	<select id="queryAllLocationInfo" resultMap="BaseResultMap">
		SELECT * FROM t_base_locationinfo
	</select>
	<!--查询占用货位之前的处于空闲中的排-->
	<select id="queryFreeRowBygroupNoBefore" resultMap="BaseResultMap" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity">
		<!-- SELECT c.f_floor_code,b.f_area_code,a.f_area_block,a.f_area_row, a.f_status
		FROM 
		t_base_locationinfo a
		left join t_base_areainfo b on a.f_area_id=b.f_id
		left join t_base_floorinfo c on b.f_floor_id=c.f_id
		where a.f_group_no=#{groupNo,jdbcType=INTEGER}
		group by c.f_floor_code,b.f_area_code,a.f_area_block,a.f_area_row,a.f_status -->
		SELECT
		t3.f_floor_name,
		t3.f_floor_code,
		t2.f_area_code,
		t2.f_floor_area_code,
		t.*
		FROM
		t_base_locationinfo t
		LEFT JOIN t_base_areainfo t2 ON t.f_area_id =t2.f_id
		LEFT JOIN t_base_floorinfo t3 ON t2.f_floor_id = t3.f_id
		where t.f_group_no =#{groupNo,jdbcType=INTEGER}
		and t.f_status=0
		<choose>
			<when test="floorCode=='5'">
				AND t3.f_floor_code= #{floorCode,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND t3.f_floor_code &lt;&gt; 5
			</otherwise>
		</choose>
		and (t.f_area_block &lt; #{areaBlock,jdbcType=INTEGER}
		or (t.f_area_block = #{areaBlock,jdbcType=INTEGER} and t.f_area_row &lt; #{areaRow,jdbcType=INTEGER}))
		order by t.f_area_block,t.f_area_row,t.f_area_num asc,t.f_up_down desc
		
	</select>
	
	<!--查询占用货位之后的处于空闲中的货位-->
	<select id="queryFreeRowBygroupNoAfter" resultMap="BaseResultMap" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity">
		SELECT
		t3.f_floor_name,
		t3.f_floor_code,
		t2.f_area_code,
		t2.f_floor_area_code,
		t.*
		FROM
		t_base_locationinfo t
		LEFT JOIN t_base_areainfo t2 ON t.f_area_id =t2.f_id
		LEFT JOIN t_base_floorinfo t3 ON t2.f_floor_id = t3.f_id
		where t.f_group_no =#{groupNo,jdbcType=INTEGER}
		and t.f_status=0
		<choose>
			<when test="floorCode=='5'">
				AND t3.f_floor_code= #{floorCode,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND t3.f_floor_code &lt;&gt; 5
			</otherwise>
		</choose>
		and (t.f_area_block &gt; #{areaBlock,jdbcType=INTEGER}
		or (t.f_area_block = #{areaBlock,jdbcType=INTEGER} and t.f_area_row &gt;= #{areaRow,jdbcType=INTEGER}))
        order by t.f_area_block,t.f_area_row,t.f_area_num asc,t.f_up_down desc
		
	</select>
	
	<!-- 根据楼层获取货位 -->
	<select id="queryListByFloor" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity" resultMap="BaseResultMap">

		SELECT
		t3.f_floor_name,
		t3.f_floor_code,
		t2.f_area_code,
		t2.f_floor_area_code,
		t.*
		FROM
		t_base_locationinfo t
		LEFT JOIN t_base_areainfo t2 ON t.f_area_id =t2.f_id
		LEFT JOIN t_base_floorinfo t3 ON t2.f_floor_id = t3.f_id 
		<include refid="where" />
		<choose>
			<when test='floorCode!="5"'>
				AND t3.f_floor_code &lt;&gt; 5
			</when>
			<otherwise>
				AND t3.f_floor_code= #{floorCode,jdbcType=VARCHAR}
			</otherwise>
		</choose>
		ORDER BY t.f_local_code asc ,t.f_up_down desc
	</select>
	<!--查询五楼空闲排-->
	<select id="queryFiveFreeLocals" resultType="map" >
        SELECT count(a.f_id) as loccount,c.f_floor_code,b.f_area_code,a.f_area_block,a.f_area_row, a.f_status,b.f_id as area_id
		FROM 
		t_base_locationinfo a
		left join t_base_areainfo b on a.f_area_id=b.f_id
		left join t_base_floorinfo c on b.f_floor_id=c.f_id
        where (a.f_group_no ='' or a.f_group_no is null)
		and a.f_status=0
        and c.f_floor_code= '5'
		group by c.f_floor_code,b.f_area_code,a.f_area_block,a.f_area_row
		
	</select>
	<!-- 获取未绑定物料组的货位 -->
	<select id="querynobindlocal"  resultMap="BaseResultMap">

		SELECT
		t3.f_floor_name,
		t3.f_floor_code,
		t2.f_area_code,
		t2.f_floor_area_code,
		t.*
		FROM
		t_base_locationinfo t
		LEFT JOIN t_base_areainfo t2 ON t.f_area_id =t2.f_id
		LEFT JOIN t_base_floorinfo t3 ON t2.f_floor_id = t3.f_id 
		where (t.f_group_no ='' or t.f_group_no is null)
		and t.f_status=0
		AND t3.f_floor_code= '5'
		ORDER BY t.f_local_code 
	</select>
	
	<!-- 更新记录 -->
	<update id="updategroupno" parameterType="com.ms.warehouse.manage.entity.LocationinfoEntity">
		UPDATE t_base_locationinfo 
		<set>
			<if test="groupNo!=null">f_group_no = #{groupNo,jdbcType=INTEGER}</if>
		</set>
		<where> 
			f_area_id = #{areaId,jdbcType=INTEGER}
			and f_area_block = #{areaBlock,jdbcType=INTEGER}
			<if test="areaRow!=null">and f_area_row = #{areaRow,jdbcType=INTEGER}</if>
		</where>				
	</update>
	<!--查询未被绑定物料组的空闲块-->
	<select id="queryfreeblock" resultType="map" >
	SELECT count(a.f_id)as countloc, c.f_floor_code ,b.f_area_code,a.f_area_block, a.f_status,b.f_id as area_id
		FROM 
		t_base_locationinfo a
		left join t_base_areainfo b on a.f_area_id=b.f_id
		left join t_base_floorinfo c on b.f_floor_id=c.f_id
		where a.f_status=0
		and a.f_group_no is null
		group by c.f_floor_code,b.f_area_code,a.f_area_block,a.f_status
        order by c.f_floor_code,b.f_area_code,a.f_area_block
		
	</select>

	<!--根据货位id 更新货位表 中 货位FRID-->
	<update id="updatelocationinfoBylocalrfid" >
		UPDATE t_base_locationinfo SET f_local_rfid = #{1} WHERE f_local_rfid = #{0}
	</update>
</mapper>

