<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.warehouse.car.mapper.CarBrandMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.warehouse.car.entity.CarBrandEntity">
		<result property="id" jdbcType="INTEGER" column="f_id"/>
		<result property="name" jdbcType="VARCHAR" column="f_name"/>
		<result property="imgStr" jdbcType="VARCHAR" column="f_img_str"/>
		<result property="imgId" jdbcType="INTEGER" column="f_img_id"/>
		<result property="createtime" jdbcType="TIMESTAMP" column="f_createtime"/>
	</resultMap>
	
	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_id,f_name,f_img_id,f_createtime
	</sql>
			
	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.warehouse.car.entity.CarBrandEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_car_brand
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name!=null">f_name,</if>
			<if test="imgId!=null">f_img_id,</if>
			<if test="createtime!=null">f_createtime</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="name!=null">#{name,jdbcType=VARCHAR},</if>
			<if test="imgId!=null">#{imgId,jdbcType=INTEGER},</if>
			<if test="createtime!=null">#{createtime,jdbcType=TIMESTAMP}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO t_car_brand
			<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="item.name!=null">f_name,</if>
					<if test="item.imgId!=null">f_img_id,</if>
					<if test="item.createtime!=null">f_createtime</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
					<if test="item.name!=null">#{item.name,jdbcType=VARCHAR},</if>
					<if test="item.imgId!=null">#{item.imgId,jdbcType=INTEGER},</if>
					<if test="item.createtime!=null">#{item.createtime,jdbcType=TIMESTAMP}</if>
			</trim>
		</foreach>
	</insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.warehouse.car.entity.CarBrandEntity">
		UPDATE t_car_brand 
		<set>
			<if test="name!=null">f_name = #{name,jdbcType=VARCHAR},</if>
			<if test="imgId!=null">f_img_id = #{imgId,jdbcType=INTEGER},</if>
			<if test="createtime!=null">f_createtime = #{createtime,jdbcType=TIMESTAMP}</if>
		</set>
		<where> 
			f_id  = #{id}
		</where>				
	</update>
	
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_car_brand 
			<set>
				<if test="item.name!=null">f_name = #{item.name,jdbcType=VARCHAR},</if>
				<if test="item.imgId!=null">f_img_id = #{item.imgId,jdbcType=INTEGER},</if>
				<if test="item.createtime!=null">f_createtime = #{item.createtime,jdbcType=TIMESTAMP}</if>
			</set>
			<where> 
				f_id  = #{item.id}
			</where>	
		</foreach>
	</update>	
	
	
	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_car_brand 
		WHERE f_id  = #{id}	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_car_brand WHERE f_id  = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_car_brand WHERE f_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	
	
	<sql id="where">
		<where>
			1=1
			<if test="id!=null">AND t.f_id = #{id,jdbcType=INTEGER}</if>
			<if test="name!=null and name!=''">AND t.f_name = #{name,jdbcType=VARCHAR}</if>
			<if test="imgId!=null">AND t.f_img_id = #{imgId,jdbcType=INTEGER}</if>
			<if test="createtime!=null">AND t.f_createtime = #{createtime,jdbcType=TIMESTAMP}</if>
		</where>
	</sql>
	
	<sql id="queryFrom">
		FROM t_car_brand
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			1=1
			<if test="whereCondition!=null">
				<if test="whereCondition.id!=null">AND t.f_id = #{whereCondition.id,jdbcType=INTEGER}</if>
				<if test="whereCondition.name!=null and whereCondition.name!=''">AND t.f_name like #{whereCondition.nameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.imgId!=null">AND t.f_img_id = #{whereCondition.imgId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createtime!=null">AND t.f_createtime = #{whereCondition.createtime,jdbcType=TIMESTAMP}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
						t.f_name like #{keyWordByLike,jdbcType=VARCHAR} 
					)
			</if>
		</where>
	</sql>
	
	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.warehouse.car.entity.CarBrandEntity" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="where" />
	</select>
	
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO"
		resultMap="BaseResultMap">
		SELECT t.f_id,t.f_name,t.f_img_id,t.f_createtime,b.f_file_path AS f_img_str
		FROM t_car_brand t LEFT JOIN t_base_uploadfilerecode b ON t.f_img_id = b.f_id
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
		parameterType="com.ms.warehouse.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)  
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>
</mapper>

